<% title "Join the raffle" %>
<% page_sm %>

<div class="mx-auto max-w-xl">
  <h1>Join the raffle</h1>
  <strong>Name:</strong> <%= current_user&.name %>
  <br>
  <strong>Email:</strong> <%= current_user&.email %>
  <%= render "raffle_form", program: params[:program] %>
</div>
