<%= link_to @event.name, @event, class: 'breadcrumb' %>
<h1>Your G Suite <% "for #{@g_suite_application.domain}" if @g_suite_application %></h1>

<% case @status
when :start %>
  <p>Your event gets free G Suite through Bank! Apply to set it up.</p>
  <%= link_to 'Get started', new_event_g_suite_application_path(event_id: @event.id), class: 'btn bg-success mt2' %>
<% when :under_review %>
  <p>Your application is under review. Check back here soon!</p>
<% when :app_accepted %>
  <p><strong>Your application was accepted!</strong> It’s time to set up your servers.</p>
  <!-- instructions go here -->
<% when :verify_setup %>
  <p>Time to verify your G Suite setup. You and your teammates got emailed links to verify your accounts—click yours now.</p>
  <p>This will disappear as soon as you’ve clicked that link!</p>
<% when :done %>
  <p>Your G Suite is all set up!</p>
  <!-- list of your account + others', form for adding accounts -->
<% end %>
