<h1>Grand Central Station of the <u>Hack Club Bank</u></h1>
<ul>
  <li>Bank Account
    <ul>
      <li><%= link_to 'Setup Bank', new_bank_account_path %></li>
      <li><%= link_to 'See Transactions', BankAccount.instance %></li>
    </ul>
  </li>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to 'Sponsors', sponsors_path %></li>
</ul>
