<% title 'My inbox' %>
<% page_md %>
<%= render 'users/nav' %>

<h1 class="heading">
  Inbox
  <%= badge_for @count %>
</h1>
<p class="muted h3">
  <% if @count == 0 %>
    None of your card transactions are missing receipts. :)
  <% else %>
    These are your card transactions missing receipts.
  <% end %>
</p>

<% @txs.group_by{ |tx| tx.card }.each do |card, card_txs| %>
  <section class="mt3 card p0">
    <h2 class="heading p1 pl2 mt0 ml0">
      <%= card.event.name %>
    </h2>
    <%= render 'stripe_authorizations/list', stripe_authorizations: card_txs, headless: true %>
  </section>
<% end %>