<%= turbo_frame_tag "/my/missing_receipts_icon" do %>
  <% if @missing_receipt_count&.positive? %>
    <div class="dock__item--badge">
      <%= @missing_receipt_count >= 100 ? "😱" : @missing_receipt_count %>
    </div>
  <% end %>
<% end %>
