<% title 'Pending Fees' %>
<h1>
  Pending Fees
</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Event</th>
      <th>Time since fees pulled</th>
    </tr>
  </thead>

  <tbody>
    <% @pending_fees.each do |event| %>
      <tr class="shade-yellow">
        <td><%= render_money event.fee_balance %></td>
        <td class="underline"><%= link_to "#{event.name}", event %></td>
        <td><%= distance_of_time_in_words(DateTime.now, event.transactions.first.date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
