<% title 'Pending Fees' %>
<h1>
  Pending Fees
  <%= link_to 'Export pending fees for Selenium', export_pending_fees_path, class: 'btn bg-info' %>
</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Suggested memo</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @pending_fees.each do |event| %>
      <tr class="shade-yellow">
        <td class="underline"><%= link_to "#{event.name}", event %></td>
        <td>Event <%= event.id %> Bank Fee</td>
        <td><%= render_money event.fee_balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
