<% content_for :title, "User Roles" %>

<div class="overview">
  <h2>Overview</h2>
  <p>
    Hi there! 👋 On March 9th, 2024, we introduced <em>user roles</em> to HCB.
    This new feature allows restricting certain critical actions on HCB to a
    specific group of users, enhancing security and control over sensitive
    operations.
  </p>

  <p>
    Now, in an organization on HCB, users can have one of three roles:
    <strong>manager</strong>, <strong>member</strong>, or <strong>reader</strong>.
    When you're inviting a user, you may select the role they receive.
  </p>

  <p>The TL;DR is:</p>
  <ul>
    <li><strong>Managers</strong> can do everything (just like before).</li>
    <li>
      <strong>Members</strong> can <em>spend</em>, but not <em>send</em> money,
      and can't edit the organization's settings.
    </li>
    <li><strong>Readers</strong> have read-only access to an organization.
    </li>
  </ul>

  <%= render "callout", type: "info", title: "By default, your permissions have not changed" do %>
    <p class="m0">All existing users are now managers.</p>
  <% end %>

  <h2>Detailed breakdown</h2>

  <div class="overflow-x-auto p2">
    <table>
      <tr style="border-bottom-width: 3px">
        <th></th>
        <% OrganizerPosition.roles.keys.each do |role| %>
          <th><%= role.pluralize.titleize %></th>
        <% end %>
      </tr>
      <%= render_permissions(@perms) %>
    </table>
  </div>
</div>
