<% stripe_authorizations = @stripe_authorizations unless defined? stripe_authorizations %>
<% if stripe_authorizations.any? %>
<div class="table-container">
  <table class="table-container">
    <% unless defined? headless %>
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th colspan="2">Description</th>
          <th colspan="2">Amount</th>
        </tr>
      </thead>
    <% end %>
    <tbody data-behavior="transactions">
      <% stripe_authorizations.each do |t| %>
        <%= render t %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
