<% stripe_authorizations ||= @stripe_authorizations %>
<% if stripe_authorizations %>
<div class="table-container">
  <table class="table-container">
    <% unless defined? headless %>
      <thead>
        <tr>
          <% unless defined? authorless %>
            <th></th>
          <% end %>
          <th>Date</th>
          <th colspan="2">Description</th>
          <th colspan="2">Amount</th>
        </tr>
      </thead>
    <% end %>
    <tbody data-behavior="transactions">
      <% if defined?(authorless) %>
        <%= render stripe_authorizations, authorless: authorless %>
      <% else %>
        <%= render stripe_authorizations %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
