<% title "Create a new announcement" %>
<% page_md %>
<%= render "events/nav", selected: :announcements %>

<h1>Create a new announcement</h1>

<%= turbo_frame_tag :create_announcement do %>
  <%= render "announcement_form", autosave: false %>
<% end %>
