<p>Hi there! 👋</p>

<p>
  You've been invited to help manage <strong><%= @invite.event.name %></strong>, which is running on <%= link_to 'Hack Club Bank', 'https://hackclub.com/bank' %>, an online dashboard to store finances, raise money, receive grants, manage team emails, and so much more.
</p>

<p>
  <%= link_to 'Click here', @invite %> to accept the invite, log in, and see what's up!
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
