<p>Hi there,</p>

<p>
  You've been invited to help manage <%= @invite.event.name %>, which is
  working with <%= link_to 'Hack Club Bank', 'https://hackclub.com/bank' %>
  to store its finances.
</p>

<p>
  <%= link_to 'Click here', @invite %> to accept or reject this invite.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
