<%= render layout: "/public_activity/common", locals: { activity:, icon: "attachment", color: "info" } do %>
  opened <i><%= activity.trackable.name %></i>
  <% unless activity.trackable.user == activity.owner %>
    for <span class="muted"><%= activity.trackable&.user&.name || "a user" %></span>
  <% end %>
  on <%= link_to activity.trackable.event.name, activity.trackable.event %> for reimbursement
<% end %>
