config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials
public/.well-known/apple-app-site-association linguist-language=json
.vscode/settings.json linguist-language=jsonc
