<div
  class="footer section"
  style="background-image: url('<%= Rails.application.routes.url_helpers.root_url %>pattern.png');">
  <p>
    HCB |
    <a href="mailto:hcb@hackclub.com">hcb@hackclub.com</a>
    |
    <a href="tel:+1855625HACK">1-855-625-HACK</a>
  </p>
  <p>
    Hack Club is an
    <a href="https://hackclub.com/opensource" target="_blank">open source</a>
    and
    <a href="https://hcb.hackclub.com/hq" target="_blank">financially transparent</a>
    501(c)(3) nonprofit. Our EIN is 81-2908499. By the students, for the
    students.
  </p>
</div>
