<!-- start text/html -->
<%#
  Above is a magic comment that tells Premailer to ignore this section when
  generating the text part.
  https://github.com/premailer/premailer/pull/244
%>
<div class="section" style="text-align: left;">
  <a
    href="<%= Rails.application.routes.url_helpers.root_url %>"
    target="_blank">
    <img
      src="<%= Rails.application.routes.url_helpers.root_url %>brand/hcb-icon-icon-original.png"
      style="width: 2.5rem">
  </a>
</div>
<!-- end text/html -->
