<div class="section" style="text-align: left;">
  <a
    href="<%= Rails.application.routes.url_helpers.root_url %>"
    target="_blank">
    <img
      src="<%= Rails.application.routes.url_helpers.root_url %>brand/hcb-icon-icon-original.png"
      alt="HCB Logo"
      style="width: 2.5rem">
  </a>
</div>
