<%# locals: (card_grant:, label: "Create reimbursement report") %>

<% if card_grant.card_grant_setting.reimbursement_conversions_enabled? && card_grant.balance.positive? %>
  <% reimbursement_tooltip = policy(card_grant).convert_to_reimbursement_report? ? "Cancel this grant and open a reimbursement report with remaining funds" : "You don't have permission to perform this action" %>
  <div class="tooltipped tooltipped--n" aria-label="<%= reimbursement_tooltip %>">
    <%= link_to convert_to_reimbursement_report_event_card_grant_path(id: card_grant.hashid, event_id: @event.slug),
                method: :post,
                data: { confirm: "Are you sure? This will cancel your card grant and convert it into a reimbursement report." },
                class: "btn bg-purple",
                disabled: !policy(card_grant).convert_to_reimbursement_report? do %>
      <%= inline_icon "attachment", size: 20 %> <%= label %>
    <% end %>
  </div>
<% end %>
