<%# locals: (card_grant:) %>

<% dejigamaflip_tooltip = "Dejigamaflip #{card_grant.user.first_name}'s card grant" %>
<% if organizer_signed_in? && (rand < 0.002) %>
  <div class="tooltipped tooltipped--n" aria-label="<%= dejigamaflip_tooltip %>">
    <%= link_to "javascript:alert(\"#{card_grant.user.first_name}'s card grant has been successfully Dejigamaflipped courtesy of Porkbun\")",
                class: "btn",
                style: "background-color: #EF7878; background-image: radial-gradient(ellipse farthest-corner at top left, #fdb7b7, #fa6d6d);" do %>
      <%= inline_icon "emoji" %>
      Dejigamaflip
    <% end %>
  </div>
<% end %>
