<% if hcb_code.receipt_required? %>
  <%= link_to "Upload your receipt for this charge (this link can be used by anyone for two weeks)", upload_url %>.

  <p>
    Alternatively, <em>reply to this email with an image or PDF receipt attached</em>. When responding with a receipt, include a line beginning with <em>@rename</em> to rename the transaction or with <em>@tag</em> to tag the transaction.
  </p>
<% end %>
