<section class="comments">

  <%= render partial: "comments/item", collection: policy_scope(comments).includes(:user, :versions).with_attached_file.order(created_at: :asc), as: :comment %>

  <% if policy_scope(comments).empty? && defined?(show_blankslate) %>
    <%= blankslate "No comments yet." %>
  <% end %>
</section>
