<section class="comments">

  <%= render partial: "comments/item_v2", collection: policy_scope(@hcb_code.comments).order(created_at: :asc), as: :comment %>

  <% if policy_scope(@hcb_code.comments).empty? && local_assigns[:blankslate?] %>
    <%= blankslate "No comments yet." %>
  <% end %>
</section>
