<section class="comments">

  <%= render partial: "comments/item", collection: policy_scope(comments).order(created_at: :asc), as: :comment %>

  <% if policy_scope(comments).empty? && local_assigns[:blankslate?] %>
    <%= blankslate "No comments yet." %>
  <% end %>
</section>
