<section class="comments">
  <% @comments.order(created_at: :asc).each do |comment| %>
    <% if comment.admin_only %>
      <% admin_tools do %>
        <%= render 'comments/item', comment: comment %>
      <% end %>
    <% else %>
      <%= render 'comments/item', comment: comment %>
    <% end %>
  <% end %>
</section>
