<p>Hi there,</p>

<p>
  Your G Suite for <strong><%= @domain %></strong> has been created and is ready to add to your DNS records. Follow the steps <%= link_to 'here', event_g_suite_overview_url(@g_suite) %> to add them and create your accounts.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
