<p>Hi there,</p>

<p>
  Your G Suite for <strong><%= @g_suite.domain %></strong> is ready to be configured! The next step is to set up the domain's DNS MX records. After that, you'll be able to start creating G Suite accounts under the domain for your team.
</p>

<p>
  Follow the steps <%= link_to 'here on your G Suite page', event_g_suite_overview_url(@g_suite) %> to set up your domain for G Suite. Message your Bank point of contact with any questions.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
