<p>Hi there ðŸ‘‹</p>

<p>
  <strong>ACTION:</strong> Please process <strong><%= @g_suite.domain %></strong> so that the organization can continue configuring their Google Workspace.
</p>

<p>
  <%= link_to "View #{@g_suite.domain} on the dashboard.", google_workspace_process_admin_url(@g_suite), target: :_blank %>
</p>

<p>
  Best,<br>
  <%= [
        "The hivemind known as HCB ðŸ¦",
        "A cloud full of money â˜ï¸",
        "Hack Club's pot of gold ðŸŒˆ",
        "A sentient stack of dollars ðŸ’µ",
        "The Hack Club Federal Reserve ðŸ›ï¸",
        "HCB ðŸ’°",
        "A cloud raining money â›ˆï¸",
      ].sample %>
</p>
