<p>Hi there,</p>

<p>
  We've finished the revocation of access for your Google Workspace on domain <strong><%= @g_suite.domain %></strong>. Your data and accounts have been deleted or will be deleted shortly, and you will no longer be able to access Google Workspace services through HCB until you reapply and are approved for access from the waitlist.
</p>

<p>
  Please don't hesitate to reply with any questions.
</p>

<p>
  Best,<br>
  The HCB Team
</p>
