<p>Good news!</p>

<p>
  Your Google Workspace for <strong><%= @g_suite.domain %></strong> is verified! You can now start adding accounts for you and your members. 
</p>

<p>
  Do so <%= link_to 'here on your Google Workspace page', event_g_suite_overview_url(event_id: @g_suite.event.slug) %>. Please don't hesitate to message us with any questions.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
