<% title 'Create an invoice' %>
<% page_xs %>
<%= render 'events/nav' %>

<h1>New Invoice</h1>

<% if @event.invoices.none? %>
<p class="flex items-center info line-height-3">
    <%= inline_icon 'important', size: 32, class: 'mr1' %>
    We recommend sending yourself an invoice for $1 to understand what your
    sponsors will see.
</p>
<% end %>

<%= render 'form', invoice: @invoice, sponsor: @sponsor %>
