<% title 'Create an invoice' %>
<% page_xs %>
<%= render 'events/nav' %>

<h1>Send an Invoice</h1>

<% if @event.invoices.none? %>
  <p class="flex items-center info line-height-3">
    <%= inline_icon 'important', size: 32, class: 'mr1' %>
    We recommend sending yourself an invoice for $1 to understand what your
    sponsors will see.
  </p>
<% else %>
  <p class="h5 line-height-3 muted mt0 mb2">
    If the sponsor wants to pay via a mailed check or direct deposit instead of
    the online invoice:
        <%= help_message %>
  </p>
<% end %>

<%= render 'form', invoice: @invoice, sponsor: @sponsor %>
