<%= link_to @sponsor.event.name, @sponsor.event, class: 'breadcrumb' %>
<%= link_to @sponsor.name, @sponsor, class: 'breadcrumb' %>

<h1>New Invoice</h1>

<%= render 'form', invoice: @invoice, sponsor: @sponsor %>
