<% title 'Send an ACH transfer' %>
<% page_sm %>
<%= render 'events/nav' %>

<h1>Send an ACH transfer</h1>

<div class="card border b--warning pb0 mt3 mb3">
  <div class="flex items-center warning">
    <%= inline_icon 'info', size: 32, class: 'mr1' %>
    <p class="bold mt0 mb0">Important info about ACH transfers:</p>
  </div>
  <ul class="mt1 mb2">
    <li><strong>Sending via ACH is irreversible</strong>—you cannot cancel.</li>
    <li>If you enter the wrong destination here, the money will permanently leave your account regardless.</li>
    <li>These are US banking system restrictions, so we have limited ability to fix mistakes.</li>
  </ul>
  <div class="border-top card__banner card__darker secondary">
    <strong class="warning">Questions?</strong> Talk to your point of contact,
        <%= link_to @event.point_of_contact.name, "mailto:#{@event.point_of_contact.email}" %>.
  </div>
</div>

<%= render 'form', ach_transfer: @ach_transfer %>
