<% title "Send an ACH transfer" %>
<% page_sm %>
<%= render "events/nav", selected: :transfers %>

<h1>Send an ACH transfer</h1>

<%= render "callout", type: "warning", title: "Important info about ACH transfers", footer: :questions do %>
  <ul>
    <li><strong>Sending via ACH is irreversible</strong>—you cannot cancel.</li>
    <li>If you enter the wrong destination here, the money will permanently leave your account regardless.</li>
    <li>These are US banking system restrictions, so we have limited ability to fix mistakes.</li>
    <li>ACHs can only be sent to U.S. bank accounts.</li>
  </ul>
<% end %>

 <% if @event.present? && !policy(@event).create_transfer? %>
  <%= render "events/transfers/unauthorized_callout" %>
<% end %>

<%= render "form", ach_transfer: @ach_transfer %>
