<% current_user ||= local_assigns[:p][:current_user] %>

<%= render layout: "/public_activity/common", locals: { activity:, current_user:, url: employee_path(activity.trackable.employee) } do %>
  submitted an invoice titled <i><%= link_to activity.trackable.title, activity.trackable %></i>
  <% unless activity.owner == activity.trackable.employee.user %>
    for <span class="muted"><%= activity.trackable.employee.user.name %></span>
  <% end %>
  to <%= link_to activity.trackable.employee.event.name, activity.trackable.employee.event %>
<% end %>
