<% title 'Transfer requests' %>
<h1 class="heading">
  Transfer Requests
  <%= link_to 'Export Under Review TRs for Selenium', export_load_card_requests_path, class: 'btn bg-info' %>
</h1>

<%= paginate @load_card_requests %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Event</th>
      <th>Creator</th>
      <th>Load amount</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'load_card_requests/row', collection: @load_card_requests, as: "request" %>
  </tbody>
</table>
