<h1><%= @announcement.title %></h1>
<%= @announcement.render_html %>
<br>
<i><%= link_to "This email was sent because you are following #{@event.name}. If you would like to unsubscribe, please click here.", event_url(@event) %></i>
