<h1>A scheduled announcement will go out in 2 days</h1>

<%= render "announcement_mailer/explanation" %>

<i><%= link_to "Update the announcement and share what your organization has been working on here", @announcement %></i>

<br>
<br>

<div class="card shadow-none border">
  <%= render "announcement_mailer/announcement", announcement: @announcement %>
</div>

<br>

<p>
  From,<br>
  The HCB Team
</p>
