<p>Hi there,</p>

<p>
  Welcome to your new G Suite inbox! The first time you sign into your account, use these credentials:
</p>

<pre>
  username: <%= @address %>
  one-time password: <%= @password %>
</pre>

<p>
  You'll be prompted to set up your own password once you’ve signed in successfuly.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
