<p>Hi there,</p>

<p>
  Your Google Workspace account’s password has been reset. Sign in with the following credentials to set up your new password.
</p>

<pre>
  username: <%= @address %>
  password: <%= @password %>
</pre>

<p>
  You’ll be prompted to set up your own password once you’ve signed in successfully.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
