<p>Hi there,</p>

<p>
  Just a heads-up for you -- <%= @first_name %> <%= @last_name %>'s Bank G Suite account has been successfully created and activated, and we sent <%= @first_name %> an email with the info they need to log into their account for the first time.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
