<p>Hi there,</p>

<p>
  <%= @first_name %> <%= @last_name %>'s Bank G Suite account has been sucessfully created and activated, and <%= @first_name %> has received an email with their username/password.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
