<p>Hi there,</p>

<p>
  Welcome to your new G Suite inbox! Please verify your account by
  <%= link_to 'clicking here', "https://bank.hackclub.com/verify?email=#{@recipient}" %>.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
