<p>Hi there,</p>

<p>
  Welcome to your new Google Workspace account! Please
  <%= link_to 'verify your account, here', "https://bank.hackclub.com/g_suite_accounts/verify?email=#{@recipient}" %>.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
