<% title 'Invite another member' %>
<% page_sm %>

<%= link_to @invite.event.name, @invite.event, class: 'breadcrumb' %>
<h1>Invite Another Member</h1>

<!-- Does this page only get rendered when validation fails? -->
<%= render 'form', invite: @invite %>
