<% page_sm %>
<% page_snow %>
<%= render 'events/nav' %>

<article class="card mt3">
  <h1>Apply for G Suite</h1>

  <p>G Suite gives you Gmail, Google Drive, Hangouts, Calendar, and more, all for free, including domain email addresses like <strong><%= example_email @g_suite_application.event %></strong>, provide your real domain. You’ll set up the names of the accounts later.</p>

  <%= render 'form', g_suite_application: @g_suite_application %>
</article>
