<p>
  👋 Hey there,
</p>

<p>
  We just wanted to let you know that our card issuer (Stripe) rejected your logo for the following reason:
</p>

<blockquote><%= @reason %></blockquote>

<p>
  Feel free to upload a new logo on <%= link_to "your organization's settings page", edit_event_url(@event) %>. Any cards
  requested with this logo will have the standard HCB card design.
</p>

<p>
  Best,
</p>

<p>
  The HCB Team
</p>
