<p>Hey! Your new card from Hack Club Bank is on the way.</p>
<p>We’re currently transitioning from an old system (Emburse) to the new cards you’re getting. So not everything’s totally smooth yet, but we’re working on it right now.</p>
<p>You must get &amp; keep a receipt for every transaction you make for a Hack Club Bank, due to US nonprofit law. This used to happen through Emburse, but you’ll soon upload receipts (images &amp; PDFs) directly to Hack Club Bank. You can’t upload them quite yet, so for now, hold onto them.</p>
<p><strong>Your new card will probably arrive around <%= Time.at(@eta).strftime("%a") %> (<%= Time.at(@eta).strftime("%d").to_i.ordinalize %>).</strong> When you open the envelope, follow the included link to activate it. You’ll be able to use your card with swipe, PIN, contactless, and Apple Pay or any other digital wallet.</p>
<p>Enjoy! &amp; let us know if you have any questions.</p>
<p>—Hack Club Bank team</p>
