<p>Hey! A virtual card for <%= @event.name %> has been issued from Hack Club Bank.</p>
<p>Make sure to keep your receipts. For each new transaction you'll get an email with a link to upload your receipts.</p>
<p>Enjoy! &amp; let us know if you have any questions.</p>
<p>—Hack Club Bank team</p>
