<div id="flash-container">
  <% flash.to_h.except("imported_transactions", "file").each do |key, value| %>
    <article
      role="alertdialog"
      class="flash flash--<%= key %>"
      data-controller="admin-flash"
      data-turbo-temporary>
      <div class="flash--content"><%= value %></div>
      <button class="flash--close-button" data-action="click->admin-flash#dismiss:prevent">
        <%= inline_icon("view-close", size: 20, class: "pointer flash--close") %>
      </button>
    </article>
  <% end %>
</div>
