<% title "Active Teenagers Leaderboard" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th># of organizations</th>
      <th># of active teenagers</th>
    </tr>
  </thead>
  <tbody>
    <% User.admin.find_each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.managed_events.count %></td>
        <td><%= User.active_teenager.joins(organizer_positions: :event).where(events: { id: user.managed_events }).distinct.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
