<% title "Active Teenagers Leaderboard" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th># of organizations</th>
      <th># of active teenagers</th>
    </tr>
  </thead>
  <tbody>
    <% User.admin.sort_by { |u| -u.managed_active_teenagers_count }.each do |user| %>
      <tr>
        <td><%= user_mention user %></td>
        <td><%= user.managed_events.count %></td>
        <td><%= user.managed_active_teenagers_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
