<%= render layout: "/public_activity/common", locals: { activity:, icon: "member-add", color: "info" } do %>
  invited <span class="muted"><%= activity.recipient&.name %></span>
  to <%= activity.trackable.event.name %>
<% end %>
