<% type = local_assigns[:type].nil? ? '' : local_assigns[:type] + ' ' %>

<div class="flex muted justify-end" style="align-items:center;">
  <%= inline_icon 'flag-fill', size: 20 %>
  <%= link_to dispute_hcb_code_path(local_assigns[:hcb_code]), target: "#{can_dispute?(hcb_code: local_assigns[:hcb_code]) ? "_blank" : ""}" do %>
    <small class="mt0 mb0">
      Dispute this transaction
    </small>
  <% end %>
</div>