<% current_user ||= local_assigns[:p][:current_user] %>

<%= render layout: "/public_activity/common", locals: { activity:, current_user:, url: employee_path(activity.trackable) } do %>
  invited <span class="muted"><%= activity.trackable.user.name %></span> to <%= link_to activity.trackable.event.name, activity.trackable.event %> as a <i>1099 contractor</i>
<% end %>
