<%= turbo_frame_tag :totp_auth_card do %>
  <div class="card border b--info mt1 mb3">
    <p>
      Scan the QR code below with your authenticator app or enter the secret.
      FYI: you can only see this once! When you leave the page without configuring your authenticator app, you will need to reset your TOTP secret.
    </p>
    <qr-code
      contents="<%= @user.totp.provisioning_uri %>"
      id="qrCode--icon"
      class="bg-white rounded-lg w-fit h-fit cursor-pointer border border-muted my-1"
      style="height: 130px; width: 130px; padding-left: 2px; padding-top: 2px">
      <img
        src="https://icons.hackclub.com/api/icons/black/private-outline"
        class="h-8 -translate-x-[5px]"
        slot="icon">
    </qr-code>
    <pre><%= @user.totp.secret %></pre>
  </div>
<% end %>
