<% title 'Emburse transfer requests' %>
<h1 class="heading">
  Emburse transfer requests
  <%= link_to 'Export Under Review TRs for Selenium', export_emburse_transfers_path, class: 'btn bg-info' %>
</h1>

<%= paginate @emburse_transfers %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Project</th>
      <th>Creator</th>
      <th>Load amount</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'emburse_transfers/row', collection: @emburse_transfers, as: 'request' %>
  </tbody>
</table>
