<% title 'Transfer money' %>
<% page_sm %>
<%= render 'events/nav' %>

<h1>Transfer money to card balance</h1>

<div class="flex flex-wrap justify-between mt3">
  <div class="stat muted mb1">
    <span class="stat__label">Available Bank balance</span>
    <span class="stat__value"><%= render_money @event.balance_available, '' %></span>
  </div>
  <span class="flex-auto h1 pl2 pr2 md-center">→</span>
  <div class="stat mb1">
    <span class="stat__label">Card balance</span>
    <span class="stat__value"><%= render_money @event.emburse_balance, '' %></span>
  </div>
</div>

<p class="black bold mt1 mb1">
  All transfer requests processed Monday-Thursday before 1pm PT will be
  completed within 1 day, typically in 8 hours.
</p>
<p class="secondary h5 mt0">
  Transfer requests processed Friday-Sunday can take 3-5 days to complete
  depending on the time of day your request is processed. Sadly, this is
  beyond our control, constrained by the US banking / ACH transfer system.
</p>
<p class="secondary h5 mt0">
  Please plan accordingly.
</p>

<article class="card mt3">
  <%= render 'form', emburse_transfer: @emburse_transfer %>
</article>
