<%# locals: (event:, perks_available:) %>

<div class="card mb3" id="1password">
  <div class="card__banner card__banner--top flex justify-between items-center promo-1password">
    <%= image_tag "1password.svg", width: 210, class: "py-4" %>
    <%= link_to "Apply",
      perks_available ? fillout_form("7jzG7ADmuLus", { "Project_Name" => event.name, "Bank_URL" => event_url(event), "Your_Name" => current_user.name, "Email" => current_user.email }, prefix: "prefill_") : root_path,
      class: "btn #{"disabled" unless perks_available}",
      target: :_blank %>
  </div>

  <% if event.hackathon? %>
    <p class="mb0">
      <%= link_to "1Password", "https://1password.com", class: ("disabled" unless perks_available) %>
      is offering hackathons running on HCB a year-long 1Password plan for up to 5 people. This can
      handed out as a prize, however, it can only be claimed once per hackathon.
    </p>
  <% else %>
    <h3 class="mb0 mt0">Do you make open source software?</h3>
    <p class="mb0">
      <%= link_to "1Password", "https://1password.com", class: ("disabled" unless perks_available) %> is offering a lifetime 1Password Teams
      license (up to 10 seats) to any open source project running on HCB.
    </p>
    <h3 class="mb0 mt2">Does your nonprofit do something else?</h3>
    <p class="mb0">
      All other nonprofits can receive a 25% discount on 1Password's business plan.
    </p>
  <% end %>
</div>
