<%# locals: (event:, perks_available:, active_teenagers_count:) %>

<div class="card pb0 mb3 promo-premium-domains" id="premium-domains">
  <div class="card__banner card__banner--top flex justify-between items-center">
    <h3 class="h1 py-4 my0 text-transparent promo-premium-header bg-clip-text inline-flex items-center flex-grow">
      <span class="flex-grow">Domains</span>
      <span class="badge bg-muted mr-5" style="font-size: 15px; padding: 8px 14px;">Premium</span>
    </h3>

    <% if !event.plan.eligible_for_perks? %>
      <% domains_ineligible_reason = "Perks are not available for #{event.plan.label} organizations" %>
    <% elsif !perks_available %>
      <% domains_ineligible_reason = "You must be a manager and organization must not be in demo mode" %>
    <% elsif active_teenagers_count < 5 %>
      <% domains_ineligible_reason = "Organization must have 5 or more active teens" %>
    <% end %>
    <% if domains_ineligible_reason %>
      <div class="tooltipped tooltipped--w inline-block" aria-label="<%= domains_ineligible_reason %>">
        <span class="btn disabled promo-premium-header bg-clip-padding">Ineligible</span>
      </div>
    <% else %>
      <%= link_to "Apply",
        fillout_form("xxiJm98eDpus", { "orgname" => event.name, "hcburl" => event_team_url(event), "email" => current_user.email }),
        class: "btn promo-premium-header bg-clip-padding",
        target: :_blank %>
    <% end %>
  </div>

  <p>
    More domains? Get $20 to spend on domains in the form of a card grant if you have 5 or more active teens!
  </p>
  <p>
    This is a separate promotion from the Porkbun domains below; feel free to claim both :D
  </p>
  <section class="card__banner card__darker secondary border-top italic">
    You currently have <%= active_teenagers_count %>/5 active teenagers in your organization!
  </section>
</div>
