<div class="card mb3 muted" id="replit">
  <div
    class="card__banner card__banner--top flex justify-between items-center"
    style="background-color: #0d101e; border: 1px solid #0068ad;">
    <%= image_tag "replit.png", width: 170 %>
    <%= link_to "Expired", "#", class: "btn disabled" %>
  </div>

  <p class="mb0">
    Replit is giving <strong>free Hacker Plans</strong> to organizers of all HCB projects,
    for 1 year. Replit is an amazing web IDE, where you can get basically any programming language
    running in your web browser in just a few seconds—regardless of what kind of computer you have.
    The Hacker plan, normally $84, gives you private projects, unlimited collaborators, & unlimited storage.
  </p>
</div>
