<%# locals: (event:, active_teen_count:) %>

<div class="mb3 rounded-xl">
  <div class="card pb0" id="robotics-printer-raffle">
    <div class="card__banner card__banner--top flex justify-between items-center promo-robotics-raffle">
      <h3 class="h1 py-4 my0 flex items-center smoke justify-center">
        <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/7eb839cffb744ac3d23d6980945e3dac0903e9d8_drukarka-3d-bambu-lab-a1-578982107-removebg-preview.png" height="72px" class="mr2">
        3D Printer Raffle
      </h3>
      <% if event.robotics_team? || event.affiliations.robotics.any? %>
        <span class="btn disabled bg-clip-padding">Entered</span>
      <% else %>
        <div class="tooltipped tooltipped--w inline-block" aria-label="Must be tagged as a robotics team or have a robotics affiliation.">
          <span class="btn disabled bg-clip-padding">Ineligible</span>
        </div>
      <% end %>
    </div>

    <p>
      Is your organization a high-school robotics team? Get an entry into a raffle for a Bambu Lab A1 from now until September 30th for each active teenager in your organization!
    </p>
    <section class="card__banner card__darker secondary border-top italic">
      You currently have <%= number_to_human(active_teen_count) %> active teenagers in your organization!
    </section>
  </div>
</div>
