<div class="card mb3" id="sendy">
  <div class="card__banner card__banner--top flex justify-between items-center promo-sendy">
    <h3 class="h1 white py-4 my0">Sendy</h3>
    <%= link_to "Expired",
      root_path,
      class: "btn disabled",
      target: :_blank %>
  </div>

  <p class="mb0">
    <%= link_to "Sendy", "https://sendy.co" %> is straightforward, reliable mass-emailing software for sending newsletters. We use it at Hack Club HQ & provide it to all HCB organizations.
  </p>
</div>
