<p>Hi there,</p>

<p>
  We've canceled the revocation in progress for your Google Workspace access on domain <strong><%= @g_suite.domain %></strong> because you have taken action to correct the issues we informed you of. No further action is required on your part. No data or accounts have been deleted and you can continue to access Google Workspace services through HCB as usual.
</p>

<p>
  Please don't hesitate to reply with any questions.
</p>

<p>
  Best,<br>
  The HCB Team
</p>
