<div class="card border b--warning container--xs mx-auto mb4">
  <div class="flex items-center justify-center"><%= inline_icon "important", class: "warning mr1" %> <strong class="h4">Your account number has changed.</strong></div>
  <p class="center">
    As of <%= local_time @event.column_account_number&.created_at, "%B %e, %Y" %>, your account number has changed while we migrate banking partners.
  </p>

  <p class="center">
    Your previous account number will stop receiving payments on <strong>January 12, 2024</strong>.
  </p>

  <% if organizer_signed_in? %>
    <details>
      <summary class="center">View your previous account number</summary>

      <div class="details">
        <p>
          <strong>Account number</strong>
          <%= increase_account_number.account_number %>
        </p>
        <p>
          <strong>Routing number</strong>
          <%= increase_account_number.routing_number %>
        </p>
      </div>
    </details>
  <% end %>
</div>
