<% unless defined? hide_heading %>
  <h1 class="heading center flex-column h1 border-none pb0">
    <%= @event.name %>
  </h1>
<% end %>

<nav class="dock flex flex-wrap center justify-center">
  <%= link_to 'Invoices', event_invoices_path(event_id: @event.slug), class: 'card' %>
  <%= link_to 'Cards', event_cards_overview_path(event_id: @event.slug), class: 'card' %>
  <%= link_to 'G Suite', event_g_suite_overview_path(event_id: @event.slug), class: "card #{g_suite_summary_color(@g_suite_status) if defined? @g_suite_status}" %>
</nav>
