<tr class="transaction muted">
  <td class="transaction__icon tooltipped tooltipped--e" aria-label="Fiscal sponsorship fee">
    <%= inline_icon "bank-icon" %>
  </td>
  <td><%= format_date Date.today %></td>
  <td class="transaction__memo"><span class="badge bg-muted ml0 mr1">Pending</span>Fiscal sponsorship</td>
  <td><%= render_transaction_amount(-1 * @event.fronted_fee_balance_v2_cents) %></td>
  <td></td>
  <% if @show_running_balance %>
    <td></td>
  <% end %>
</tr>
