<div class="input input-group max-w-none" tabindex="0">
  <%= inline_icon "search" %>
  <%= form.text_field :q, placeholder: "Type / to search...", data: { behavior: "search" }, value: params[:q] %>
  <% if params[:q].present? %>
    <button data-behavior="clear" type="submit" class="pop muted w-7 h-7 tooltipped tooltipped--s" aria-label="Clear filters">
      <%= inline_icon "view-close", size: 24 %>
    </button>
  <% end %>
</div>
