<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="send_transfer">
  <%= turbo_frame_tag :transfer_form do %>
    <%= modal_header "Transfer money" %>

    <%= render "events/transfers/unauthorized_callout" unless policy(@event).create_transfer? %>

    <%= render "transfer_form" %>
  <% end %>
</section>
