<% title "#{@event.name.html_safe} Settings" %>
<% page_sm %>
<%= render "nav" %>

<h1>Settings</h1>

<%= render partial: 'admin_viewer', locals: { record: @event } %>

<%= render "form", event: @event %>
