<% title "Details of #{@event.name}" %>
<% page_md %>
<%= render 'nav' %>

<h1>Details of <%= @event.name %></h1>

<%= render 'form', event: @event %>

<% admin_tools do %>
  <%= link_to 'Delete event',
    @event,
    method: :delete,
    data: { confirm: 'âš ï¸ Are you sure you want to DELETE THIS EVENT OMG?' },
    class: 'btn bg-error' %>
<% end %>
