<% title "#{@event.name} Settings" %>
<% page_sm %>
<%= render "nav" %>

<h1>Settings</h1>

<% admin_tools do %>
  <strong>Event slug history:</strong> <%= @event.slugs.pluck(:slug).join ", " %>
<% end %>

<%= render partial: 'admin_viewer', locals: { record: @event } %>

<%= render "form", event: @event %>
