<%# locals: (block:, is_email: false) %>

<% unless is_email %>
  <div class="block-actions">
    <%= pop_icon_to "history", refresh_announcements_block_path(block), data: { turbo_method: :post }, class: "absolute top-2 right-2 tooltipped", "aria-label": "Refresh this block with the latest data" %>
  </div>
<% end %>
