<p>
  Hey team,
</p>

<p>
  <%= @pre_authorization.user.name %> has submitted a card grant pre-authorization for <%= @pre_authorization.event.name %> that has been marked as potentially fraudulent.
  <%= link_to "Review this pre-authorization on HCB.", card_grant_pre_authorizations_url(@pre_authorization.card_grant) %>
</p>

<p>
  Thanks,
  <br><br>
  The HCB Team
</p>
