<p>Hi there,</p>

<p>
  It seems that <%= link_to 'this fee refund', @fee_reimbursement %> hasn't been automatically matched with an incoming transaction over the past 5 days. Please look into this.
</p>

<p>
  Best,<br/>
  <%= [
    'The hivemind known as Bank',
    'A cloud full of money',
    "Hack Club's pot of gold",
    'A sentient stack of dollars',
    'The Hack Club Federal Reserve',
    'Hack Club Bank 💰',
    'A money-crazed virus called Bank 🤑',
    'A cloud raining money',
    "A pile of money in the cloud that isn't Bitcoin"
  ].sample %>
</p>
