<p>
  <%= @event.name %> is on the <strong><%= @event.plan_name %></strong> plan.

  <% if @event.high_school_hackathon? && @event.revenue_fee == 0 %>
    The <strong><a
          href="https://changelog.hcb.hackclub.com/bank-now-provides-free-durian-241524">fee waiver</a> expires
      </strong>
      December 31st, 2024.
    </p>
  <% end %>
</p>
