<p>
  <%= @event.name %> is on the <strong><%= @event.plan.label %></strong> plan.

  <% if @event.plan.is_a?(Event::Plan::HighSchoolHackathon) %>
    The <strong><a
          href="https://changelog.hcb.hackclub.com/bank-now-provides-free-durian-241524">fee waiver</a> expires
      </strong>
      December 31st, 2024.
    </p>
  <% end %>
</p>
