<%# locals: (event:) %>

<p>
  <%= event.name %> is on the <strong><%= event.plan.label %></strong> plan.

  <% if event.plan.is_a?(Event::Plan::HighSchoolHackathon) %>
    The <strong><a
          href="https://blog.hcb.hackclub.com/posts/hackathon-grants-and-0-fee-241524">fee waiver</a> expires
      </strong>
      December 31st, 2024.
    </p>
  <% end %>
</p>
