<footer data-behavior="hide_iframe">
  <p class="muted h4 center">Powered by
  <%= link_to 'Hack Club Bank', 'https://hackclub.com/bank?ref=donation', target: '_blank' %>,
  a financial platform by Hack Club for hackathons and events.</p>
  <p class="muted h4 center">Questions? Get in touch at
  <%= mail_to 'bank@hackclub.com' %>.</p>
</footer>
