<footer data-behavior="hide_iframe">
  <p class="muted max-width-1 mx-auto h5 mb1 center">
    Powered by
    <%= link_to 'Hack Club Bank', 'https://hackclub.com/bank?ref=donation', target: '_blank' %>,
    a financial platform for hackathons & nonprofits.
  </p>
  <p class="muted h5 center">
    Questions? Get in touch at <%= help_email %>.
  </p>
</footer>
