Here are tasks that are older than 24 hours:

<ul>
  <% @tasks.each do |task| %>
    <li style="margin-top: 8px;"><%= link_to task[:label], task[:url] %></li>
  <% end %>
</ul>

Here the currently negative events:

<ul>
  <% Event.negatives.each do |event| %>
    <li style="margin-top: 8px;"><%= link_to event.name, event %>: <%= render_money @event.balance %></li>
  <% end %>
</ul>
