<%= link_to admin_signed_in? ? document : document_download_path(document) do %>
  <li class="card card--hover h-100">
    <div class="overflow-hidden" style="max-height: 270px;">
      <%= render "documents/preview", document: %>
    </div>
    <strong class="brand-sans h3 block mt1 line-height-2"><%= document.name %></strong>
    <%= user_mention document.user %>
  </li>
<% end %>
