<% title "Common Documents" %>
<% page_md %>

<h1 class="heading">
  <span class="flex items-center flex-auto">
    Common documents
  </span>
  <% admin_tool do %>
    <%= link_to "Upload a common document",
    new_document_path,
    class: "btn bg-success my0 block" %>
  <% end %>
</h1>

<p>
  Common documents are shared documents that appear for every event
  that does not otherwise have event-specific documents uploaded for them.
  Common docs appear under "documents" for those events.
</p>

<ul class="grid">
  <%= render @active_documents %>
</ul>

<% if @archived_documents.any? %>
  <ul class="list-reset">
    <li class="mb3">
      <details>
        <summary class="cursor-pointer relative mb2">
          <h3 class="inline mb1">Archived Documents</h3>
        </summary>
        <article>
          <ul class="grid">
            <%= render @archived_documents %>
          </ul>
        </article>
      </details>
    </li>
  </ul>
<% end %>
