<%= link_to @document.event.name, @document.event, class: 'breadcrumb' %>
<%= link_to @document.name, @document, class: 'breadcrumb'%>
<h1>Editing Document</h1>

<%= render 'form', document: @document %>
