<% title "Edit disbursement" %>
<% page_sm %>

<h1>Edit disbursement</h1>

<%= render "form", disbursement: @disbursement, event: @event, source_event: @source_event, allowed_source_events: @allowed_source_events, allowed_destination_events: @allowed_destination_events %>
