<% title "Initiate a disbursement" %>
<% page_sm %>
<%= render "events/nav", selected: :transfers if @event %>

<h1>Send a HCB transfer</h1>

<%= render "callout", type: "warning", title: "Important info about transfers", footer: :questions do %>
  <p>Transfers are reviewed by the HCB team and process within 24 hours on weekdays.</p>
<% end %>

<% if @allowed_destination_events.empty? %>
  <p class="h5 muted">It looks like you don't have any organizations to transfer to. You can transfer funds between any organizations you're a part of.</p>
<% end %>

<%= render "form", disbursement: @disbursement %>
