<p>
  Hey team,
</p>

<p>
  <%= @report.user.name %> has submitted a reimbursement for your review: <%= link_to @report.name, @report %>. You can now go through the report, approve the expense(s) you'd like to reimburse and, when you're ready, request a review of the expense report from HCB for final approval.
</p>

<p>
  Thanks,
  <br><br>
  The HCB Team
</p>
