<%# locals: (stripe_card:) %>

<div class="mt3 flex justify-center g1">
  <% if !stripe_card.activated? %>
    <%= render "stripe_cards/actions/activate", stripe_card: %>
  <% else %>
    <%= render "stripe_cards/actions/freeze", stripe_card: %>
    <%= render "stripe_cards/actions/rename", stripe_card: %>
  <% end %>
</div>
