<%# locals: (form:, disabled:, required: true, account_number_field_name: :account_number) %>

<div class="field">
    <%= form.label :bic_code, "Beneficiary bank SWIFT / BIC code" %>
    <%= form.text_field :bic_code,
        required:,
        disabled:,
        placeholder: "CLNOUS66" %>
</div>

<div class="field">
    <%= form.label account_number_field_name, "Account number (IBAN, if available)" %>
    <%= form.text_field account_number_field_name,
        required:,
        disabled:,
        placeholder: "123456789" %>
</div>
