<%= turbo_stream.remove tag_dom_id(hcb_code, tag) %>
<%= turbo_stream.update_all tag_dom_class(hcb_code, tag, "_toggle") do %>
  <div class="w-3 h-3 rounded-full mr-2 tag-darker tag-<%= tag.color || "muted" %>"></div>
  <%= tag.label %>
<% end %>
