<p>
  Hi,
</p>

<p>
  The funds from
  <%= link_to "a recently paid invoice to #{@payout.invoice.sponsor.name}", @payout.invoice %>
  are transferring into your account with Hack Club Bank.
</p>

<p>
  The funds (<%= render_money @payout.invoice.item_amount %>) will be available on approximately <%= @payout.arrival_date.to_date %>.
  Please don't hesitate to reach out if you have any questions.
</p>

<p>
Yours truly,<br/>
Hack Club Bank
</p>
