<p>
  Hi there,
</p>

<p>
  The funds from <%= link_to "a recently paid invoice to #{@payout.invoice.sponsor.name}", @payout.invoice %>
  are transferring into your Hack Club Bank account.
</p>

<p>
  The funds (<strong><%= render_money @payout.invoice.item_amount %></strong>) will be available on approximately <strong><%= @payout.arrival_date.to_date %></strong>.
  Please don't hesitate to reach out to us if you have any questions!
</p>

<p>
  Yours truly,<br/>
  The Hack Club Team
</p>
