<% title 'Remove a team member' %>
<% page_md %>

<h1>Remove a team member</h1>

<p>
  You are about to request a removal of <%= user_mention @target %>
  <span class="muted">(<%= @target.email %>)</span> from your team.
</p>
<p>
  We understand there are situations where you need to remove an organizer from Hack Club Bank,
  and we’ve seen that many of these situations requires nuance and context that only humans can provide.
  Because of this, your request will be sent to a Hack Club Bank staff member.
</p>

<p><strong>We’ll contact you with the next steps after you submit your request.</strong></p>

<hr>

<%= render 'form', organizer_position_deletion_request: @opdr, target: @target %>
