<% title "Remove a team member" %>
<% page_md %>

<%= render "events/nav" %>

<h1>Remove a team member</h1>

<p>
  You are about to request a removal of <%= user_mention @target %>
  <span class="muted">(<%= @target.email %>)</span> from your team.
</p>
<p>
  We understand there are situations where you need to remove a team member from HCB,
  and we’ve seen that many of these situations require nuance and context that only humans can provide.
  Because of this, all removal requests from team members who haven't signed the contract are sent to
  a HCB team member for review.
</p>

<p><strong>We’ll contact you with any next steps or clarification after you submit your request.</strong></p>

<p><strong>Please note that this only removes a user from the dashboard. To remove them from the contract, contact <a href="mailto:hcb@hackclub.com">hcb@hackclub.com</a>.</strong></p>

<hr>

<%= render "form", organizer_position_deletion_request: @opdr, target: @target %>
