<h1>Remove a team member</h1>

<p>
You are about to request a removal of
<% if @target.full_name.blank? %>
  <strong><%= @target.email %></strong>
<% else %>
  <strong><%= @target.full_name %></strong> (<%= @target.email %>)
<% end %>
from your team. We understand there are situations where you need to remove an organizer from Hack Club Bank, and we’ve seen that many of these situations requires nuance and context that only humans can provide. Because of this, your request will be sent to your point of contact on Hack Club’s staff.
</p>

<p><strong>We’ll contact you with the next steps after you submit your request.</strong></p>

<%= render 'form', organizer_position_deletion_request: @opdr, target: @target %>
