<%= render 'users/nav' if signed_in? %>

<div style="text-align: center;">
    <h1><%= @is_event_error ? "Event" : "Page" %> not found.</h1>

    <% if @is_event_error %>
        <p>You may have mistyped the event URL.</p>
        <a href="https://hackclub.com/bank/#apply" class="btn" style="color: white;">Apply to Hack Club Bank</a>
    <% else %>
        <p>You may have mistyped the address or the page may have moved.</p>
    <% end %>

    <img src="/dino_leaping_for_money.png" class="mt3 mx-auto w-100" style="max-width: 400px; display: block" />
</div>