<p>
  <% if @renamed_to %>
    We got your <%= "receipt".pluralize(@receipts_count) %> and renamed the transaction to <i>"<%= @renamed_to %>"</i>, thanks!
  <% else %>
    We got your <%= "receipt".pluralize(@receipts_count) %>, thanks!
  <% end %>
</p>

<p>
  From,<br>
  The Hack Club Team
</p>
