<div id="screenshot_list" class="flex flex-row gap-4 h-[200px] w-full overflow-x-auto min-w-0">
    <% screenshots.each do |screenshot| %>
        <%= image_tag screenshot, class: "h-100 !w-min-content card min-w-0 !flex-shrink-0" %>
    <% end %>

    <% if screenshots.empty? %>
        <%= blankslate "No screenshots uploaded", class: "w-full flex items-center justify-center" %>
    <% end %>
</div>
