<p>
  Hey there,
</p>

<p>
  A direct debit of <%= @amount_cents %> labelled '<%= @memo %>' to <%= link_to "#{@event.name}'s account number", event_column_account_number_url(@event) %> was returned because <%= @event.name %> does not have a sufficient balance for the transaction.
</p>

<p>
  Best,
</p>

<p>
  The HCB Team
</p>
