<% page_xs %>
<%= render 'events/nav' %>

<h1 class="h1">Issue a card</h1>

<p class="flex items-center info line-height-3">
  <%= inline_icon 'important', size: 32, class: 'mr1' %> Cards will take 7-10
  business days to ship
</p>

<%= render 'form', emburse_card_request: @emburse_card_request %>
