<p>Hi there,</p>

<p>
  Your check from <%= @event.name %> to <%= @check.lob_address.name %> for <%= render_money @check.amount %> hasn't been deposited since it was sent 1 month ago. Due to this, we've requested a void on the check for you.
</p>

<p>
  We expect the money to be back in your account within the next few business days. If you think this was done in error, or have other questions, just get in touch with us!
</p>

<p>
  Best,<br />
  The Hack Club Team
</p>
