<p>Hi there,</p>

<p>
	Your check to <%= @check.lob_address.name %> for <%= render_money @check.amount %> hasn't been deposited since it was sent 1 month ago. Due to this, we've requested a void on the check.
</p>

<p>
  We expect the money to be in your account within the next few business days.
</p>

<p>
  Best,<br />
  The Hack Club Team
</p>
