<%# locals: (card_grant:) %>

<% if card_grant.active? %>
  <div class="mt3 flex flex-wrap align-items-center justify-start g1">
    <% if card_grant.stripe_card %>
      <%= render "stripe_cards/actions/freeze", stripe_card: card_grant.stripe_card %>
    <% end %>

    <%= render "card_grants/actions/topup", card_grant: %>
    <%= render "card_grants/actions/cancel", card_grant: %>
    <%= render "card_grants/actions/edit", card_grant: %>
  </div>
<% end %>
