<%# locals: (card_grant:) %>

<div class="stat mt3 mx-auto <%= "muted" if card_grant.balance == 0 %>" style="width: fit-content">
  <span class="stat__label">Balance remaining</span>
  <span class="stat__value"><%= card_grant.balance.format(symbol: false) %></span>
</div>
