<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="create_card_grant">
  <%= modal_header "Send a grant" %>

  <%= render partial: "events/unauthorized_callout", locals: { action: "send a grant" } unless policy(@event).create_transfer? %>

  <%= render "card_grants/create_form", card_grant: @event.card_grants.build %>
</section>
