<% if local_assigns[:hcb_codes].present? %>
  <h2 class="heading h2 line-height-4 mt0 ml0 pt1 pb1 pl2 pr2">Transactions on this card</h2>

  <div style="overflow-x: auto;">
    <table>
      <tbody data-behavior="transactions">
        <% local_assigns[:hcb_codes].each do |hcb_code| %>
          <% if hcb_code.canonical_transactions.any? %>
            <%= render partial: "canonical_transactions/canonical_transaction", collection: hcb_code.canonical_transactions.select { |ct| ct.canonical_event_mapping.subledger.present? }, as: :ct, locals: { authorless: true, receipt_upload_button: !local_assigns[:public] } %>
          <% else %>
            <%= render partial: "canonical_pending_transactions/canonical_pending_transaction", collection: hcb_code.canonical_pending_transactions.select { |pt| pt.canonical_pending_event_mapping.subledger.present? }, as: :pt, locals: { authorless: true, receipt_upload_button: !local_assigns[:public] } %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= blankslate "No purchases yet." %>
<% end %>
