<div class="mt4 mb4 check--form flex justify-center" style="gap: 3rem">
  <%= render partial: "header", locals: { card_grant: @card_grant } %>
</div>

<hr>

<%= render partial: "transactions", locals: { hcb_codes: @hcb_codes, public: true } %>
