<%= turbo_frame_tag "top_merchants" do %>
  <% if @merchants.length > 0 %>
    <div class="card card--breakdown shadow-none w-100" style="flex: 1">
      <div class="flex flex-row justify-between mb2 mt2 items-center">
        <h3 class="mt0 mb0">Top merchants</h3>
        <% if @past_month %>
          <h5 class="homepage-eyebrow mt0 mb0">Past thirty days</h5>
        <% else %>
          <h5 class="homepage-eyebrow mt0 mb0">All time</h5>
        <% end %>
      </div>
      <%= react_component "home/Merchants", { data: @merchants }, { camelize_props: false } %>
    </div>
  <% else %>
    <div class="card card--breakdown shadow-none p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center" style="flex: 1">
      <h3 class="mt0 mb0">Top merchants</h3>
      <p class="m-0 p-4 pt-2 pb-0 mb-1 muted max-w-xs">
        As this team spends money, we'll categorize it here.
      </p>
    </div>
  <% end %>
<% end %>
