<%= render layout: "/public_activity/common", locals: { activity:, icon: "checkmark", color: "success" } do %>
  <span class="align-middle">
    approved <i><%= activity.trackable.memo %></i> on your reimbursement report, <%= link_to activity.trackable.report.name, activity.trackable.report %>
  </span>
<% end %>
