<p>Hi there! 👋</p>

<p>
  You've been invited to sign a fiscal sponsorship contract for <%= @contract.organizer_position_invite.event.name %> on HCB on behalf of your child.
</p>

<p>
  <%= link_to "Click here", @contract.cosigner_signature_url %> to sign the contract and get them running on HCB!
</p>

<p>
  Best,<br>
  The <%= link_to "HCB", "https://hackclub.com/hcb?utm_source=hcb&utm_medium=email" %> Team
</p>
