<p>Hi there! 👋</p>

<p>
  We can't wait to have your project on HCB! You've been invited to sign a fiscal sponsorship contract for <%= @contract.organizer_position_invite.event.name %> on HCB.
</p>

<% if @contract.include_videos? %>
  <p>
    Before, signing, please watch the following two videos to familiarize yourself with HCB:
  </p>

  <p>
    <strong>HCB Onboarding (#1): Introduction</strong>
  </p>

  <a href="https://youtu.be/-pQcsrJ8YQE"><img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/40e4453485e0c9d07e61c0939530b9f083f86b33_maxresdefault__2___1_.jpg" width="400px"></a>

  <p>
    <strong>HCB Onboarding (#2): Rules & Regulations</strong>
  </p>

  <a href="https://youtu.be/HCbDorDRPJs"><img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/6910446c2df9099255f03a2e4ac70607749c25bf_hcbdordrpjs-hd__1_.jpg" width="400px"></a>
<% end %>

<p>
  <%= link_to "Click here", @contract.user_signature_url %> to sign the contract and get running on HCB!
</p>

<p>
  Best,<br>
  The <%= link_to "HCB", "https://hackclub.com/hcb" %> Team
</p>
