<p>Hi there! 👋</p>

<p>
  You've been invited to sign a fiscal sponsorship contract for <%= @contract.organizer_position_invite.event.name %> on HCB.
</p>

<p>
  <%= link_to "Click here", @contract.user_signature_url %> to sign the contract and get running on HCB!
</p>

<p>
  Best,<br>
  The <%= link_to "HCB", "https://hackclub.com/hcb" %> Team
</p>
