<p>Hi there! 👋</p>

<p>
 Thanks for signing the fiscal sponsorship contract. The HCB team will finalize the contract and activate your project within one business day.
</p>

<p>
  If you have any questions, reach out to <%= mail_to "hcb@hackclub.com" %> for support.
</p>

<p>
  Best,<br>
  The <%= link_to "HCB", "https://hackclub.com/hcb" %> Team
</p>
