<div class="card pb0 mt3 mb3">
  <div class="flex items-center info">
    <%= inline_icon 'card', size: 32, class: 'mr1' %>
    <p class="bold mt0 mb0">We’ve migrated to a new card provider</p>
  </div>
  <p class="mt1 mb1">
    Hack Club Bank has moved off Emburse (the purple cards). All your transactions & receipts have been migrated to the new system. You can issue yourself a new card below.
  <% if @event.used_emburse? %>
     The new cards spend from your account balance, so your Emburse balance has been transferred back for you.
    </p>
    <p class="muted">
      All your
      <%= link_to 'Emburse data will remain available', event_emburse_cards_overview_path(event_id: @event.slug) %>.
  <% end %>
  </p>
  <div class="border-top card__banner card__darker slate mt2">
    <strong class="info">Questions?</strong> <%= help_message %>
  </div>
</div>
