<div class="card border b--primary pb0 mt3 mb3">
  <div class="flex items-center primary">
    <%= inline_icon 'card', size: 32, class: 'mr1' %>
    <p class="bold mt0 mb0">It’s Emburse migration week</p>
  </div>
  <p class="mt1 mb1">
  This Saturday, <strong>Sept 26th</strong>, Emburse will be shutting down the purple cards. You can 
    <% prefill ={prefill_Account: "#{current_user&.email}|#{current_user&.id}", prefill_Events: "#{@event.id}-#{@event.name}"} %>
    <%= link_to 'order yourself a new card here', "https://hack.af/emburse-migration?#{prefill.to_query}", class: 'primary' %>.
  <% if @event.used_emburse? %>
     The new cards spend from your account balance, so your Emburse balance will be transferred back automatically this weekend.
    </p>
    <p class="muted">
      All your
      <%= link_to 'Emburse data will remain available', event_emburse_cards_overview_path(event_id: @event.slug) %>.
  <% end %>
  </p>
  <div class="border-top card__banner card__darker slate mt2">
    <strong class="primary">Questions?</strong> <%= help_message %>
  </div>
</div>
