<%= render layout: "/public_activity/common", locals: { activity:, icon: "welcome", color: "info", hide_owner: true, hide_timestamp: true } do %>
  <span class="align-middle">
    <i>You joined HCB! Welcome to the club.</i>
  </span>
<% end %>
