.avatar-row {
  display: flex;
  align-items: center;

  img,
  div {
    margin-right: -5px;
    box-shadow: 0 0 0 2px $white;

    html[data-dark='true'] & {
      box-shadow: 0 0 0 2px $darkless;
    }
  }
}

.avatar--current-user {
  border: 1px solid rgba(map-get($palette, info), 0.5);
}

@media (prefers-reduced-motion: no-preference) {
  .avatar-row {
    img,
    div {
      transition:
        0.125s margin-right ease-in-out,
        0.5s transform ease-in-out;
    }

    img:hover,
    div:hover {
      transform: rotate(-180deg);
    }

    &:hover img,
    &:hover div {
      margin-right: 4px;
    }
  }

  .avatar-grow img {
    transition: 0.125s transform ease-in-out;
  }

  .avatar-grow:hover img {
    transform: scale(1.125);
  }
}
