.avatar-row {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;

  img {
    margin-right: -5px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .avatar-row {
    img {
      transition: 0.125s margin-right ease-in-out, 0.5s transform ease-in-out;
    }

    img:hover {
      transform: rotate(-180deg);
    }

    &:hover img {
      margin-right: 4px;
    }
  }

  .avatar-grow img {
    transition: 0.125s transform ease-in-out;
  }

  .avatar-grow:hover img {
    transform: scale(1.125);
  }
}
