// Numeric count badge, see the badge_for helper
.badge {
  display: inline-flex;
  flex-shrink: none;
  align-items: center;
  background-color: map-get($palette, primary);
  color: $white;
  border-radius: 9999px;
  font-family: $brand-font-family;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1.125;
  margin-left: 1rem;
  padding: 0.25rem 0.625rem;
  width: min-intrinsic;
  transition-duration: 1s;

  &.success {
    background-color: rgba(map-get($palette, success), 0.125);
    color: map-get($palette, success);
  }
  &.pending {
    background-color: rgba(map-get($palette, pending), 0.125);
    color: map-get($palette, pending);
  }
  &.warning {
    background-color: rgba(map-get($palette, warning), 0.125);
    color: map-get($palette, warning);
  }
  &.error {
    background-color: rgba(map-get($palette, error), 0.125);
    color: map-get($palette, error);
  }
  &.info {
    background-color: rgba(map-get($palette, info), 0.125);
    color: map-get($palette, info);
  }

  svg:last-child {
    margin-left: 0.25rem;
  }
}

.list-badge {
  display: inline-flex;
  flex-shrink: none;
  align-items: center;
  color: map-get($palette, muted);
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.125);
  border-width: 0.5px;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.25);
  font-family: $brand-font-family;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.125;
  padding: 0.125rem 0.375rem;
  width: min-intrinsic;
}

// Circular button
.pop {
  border-radius: 18px;
  color: map-get($palette, info);
  background-color: rgba(map-get($palette, info), 0.125);
  flex-shrink: 0;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  height: 36px;
  width: 36px;
  transition: box-shadow 0.125s ease-in-out;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px currentColor;
  }

  &.success {
    background-color: rgba(map-get($palette, success), 0.125);
  }
  &.pending {
    background-color: rgba(map-get($palette, pending), 0.125);
  }
  &.warning {
    background-color: rgba(map-get($palette, warning), 0.125);
  }
  &.error {
    background-color: rgba(map-get($palette, error), 0.125);
  }
  &.muted {
    background-color: rgba(map-get($palette, muted), 0.125);
  }
}
summary.pop::-webkit-details-marker {
  display: none;
}

// Small dots for indicating row status
.status {
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
  height: 8px;
  width: 8px;
  position: relative;
  bottom: 2px;
}

// User mentions, use the user_mention helper
.mention {
  color: map-get($palette, muted);
  display: inline-block;
  font-weight: 500;
  margin-right: 0.25rem;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  img,
  img + svg {
    width: 1.5rem;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }

  img {
    margin-right: 0.5rem;

    + svg {
      margin: -0.25rem -0.5rem 0 -0.625rem;
    }
  }

  svg:first-child {
    vertical-align: bottom;
  }
}
