.breakdown-eyebrow {
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.6;
  margin-top: -10px;
  margin-bottom: 10px;
}

.breakdown-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.change-column {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .breakdown-row {
    flex-direction: column;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(53, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2px;
  max-width: 100%;
}

.grid-container--preview {
  grid-template-columns: repeat(5, 1fr) repeat(15, 1fr) repeat(5, 1fr) repeat(
      28,
      1fr
    );
  grid-template-rows: repeat(1, 1fr);
}

.grid-item {
  border: 0.5px solid;
  border-radius: 3px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-top: calc(100% - 1px) !important;
}

.breakdown--positive {
  color: $green;
}

.breakdown--negative {
  color: $red;
}
