input[type='submit'],
.btn {
  -webkit-appearance: none;
  align-items: center;
  border: 0;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
  @include gradient(info);
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-family: $brand-font-family;
  font-size: 1.125rem;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.5rem 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.125s ease-in-out, box-shadow 0.25s ease-in-out;
  user-select: none;

  &:hover,
  &:focus {
    color: $white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1875);
    transform: scale(1.0625);
  }

  &.disabled,
  &[disabled='disabled'] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  svg {
    width: 24px;
    height: 24px;
    margin-left: -4px;
    margin-right: 6px;
  }

  &.bg-muted {
    @include gradient(muted);
  }

  &.bg-purple {
    @include gradient(purple);
  }

  &.bg-success {
    @include gradient(success);
    color: darken(map-get($palette, success), 33.3%) !important;
  }

  &.bg-accent {
    @include gradient(accent);
    color: darken(map-get($palette, accent), 33.3%) !important;
  }

  &.bg-error,
  &.btn--destroy {
    @include gradient(error);
  }
}

.clipboard-btn {
  -webkit-appearance: none;
  align-items: center;
  border: 0;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
  @include gradient(info);
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-family: $brand-font-family;
  font-size: 1.125rem;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.5rem 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.125s ease-in-out, box-shadow 0.25s ease-in-out;
  user-select: none;
}

form .flex-auto + input[type='submit'] {
  height: 2.5rem;
}

.btn-group {
  display: inline-flex;
  align-items: center;
  @media (max-width: 32em) {
    flex-wrap: wrap;
    .btn {
      margin-right: 8px;
      margin-bottom: 8px;
    }
    &.center {
      justify-content: center;
      .btn {
        margin: 8px;
      }
    }
  }
  @media (min-width: 32em) {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
    border-radius: 0.75rem;

    .btn:first-child {
      border-radius: 0.75rem 0 0 0.75rem;
    }
    .btn {
      border-radius: 0;
      box-shadow: none;
      margin: 0;

      &:hover,
      &:focus {
        z-index: 2;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
      }
    }
    .btn:last-child {
      border-radius: 0 0.75rem 0.75rem 0;
    }
  }
}
