input[type='submit'],
.btn {
  -webkit-appearance: none;
  align-items: center;
  background-color: map-get($palette, info);
  border: 0;
  border-radius: 9999px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.125);
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-family: $font-family;
  font-size: 0.875rem;
  font-weight: bold;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform: scale(1);
  transition: transform 0.125s ease-in-out, box-shadow 0.25s ease-in-out;
  user-select: none;
  
  &:hover,
  &:focus {
    color: $white;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1875);
    transform: scale(1.0625);
  }

  svg {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 8px;
    top: 6px;
  }

  &.disabled,
  &[disabled='disabled'] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.bg-success {
    background-color: map-get($palette, success) !important;
  }

  &.btn--destroy {
    background-color: map-get($palette, error) !important;
    color: map-get($palette, snow) !important;
  }
}

form .flex-auto + input[type='submit'] {
  height: 2.5rem;
}

.btn-group {
  display: flex;
  border-radius: 6px;
  overflow: hidden;

  .btn {
    border-radius: 0;
  }
}
