.card {
  background-color: $white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.0625), 0 4px 8px 0 rgba(0, 0, 0, 0.125);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card h1,
.card h2 {
  margin-right: 0;
  width: 100%;
}
