.card {
  background-color: $white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.0625), 0 4px 8px 0 rgba(0, 0, 0, 0.125);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform .2s;

  &.b--warning {
    box-shadow: 0 0 2px 0 rgba($orange6, 0.0625),
      0 4px 8px 0 rgba($orange7, 0.125);
  }

  &.b--info {
    box-shadow: 0 0 2px 0 rgba(map-get($palette, info), 0.0625),
      0 4px 8px 0 rgba(map-get($palette, info), 0.125);
  }

  &.card--hover:hover {
      transform: translateY(-3px);
  }

  &.card--hover:active {
      transform: translateY(-1px);
  }

}

a.card {
  text-decoration: none;
}

.card h1,
.card h2 {
  margin-right: 0;
  width: 100%;
}

.card__darker {
  background: map-get($palette, snow);
}

.card__banner {
  margin: 0 -1rem;
  padding: 0.75rem 1rem;
  line-height: 1.25;
}
.card__banner--top {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.error-card {
  @extend .card;
  max-width: 32rem;
  border: 1px solid $red7;
  margin-bottom: 1.5rem;
  background-color: $red0;
  box-shadow: 0 0 2px 0 rgba($red6, 0.025), 0 4px 8px 0 rgba($red7, 0.125);

  h2 {
    color: $red7;
    border-bottom-color: $red3;
    margin-top: 0;
    font-size: 1.25rem;
  }

  ul {
    margin-bottom: 0;
    padding-left: 1.5rem;
  }
}

.banner {
  @extend .card;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: center;
  line-height: 1.25;
}
.banner--archived {
  background-color: $yellow1;
  border: 1px solid $yellow3;
  color: $yellow9;
  a {
    color: inherit;
  }
  .mention {
    margin: 0 0.125rem;
    color: inherit;
    font-weight: inherit;
  }
}
