/* check form layout goes vertical
  on small screens */
.check--form {
  @media (max-width: 56em) {
    flex-direction: column;
    align-items: center;

    .check {
      display: none;
    }

    aside {
      margin-right: 0;
    }
  }
}
