.comment {
  margin-top: 1rem;
}
.comment__name {
  font-size: 0.875rem;
  color: $gray7;
  margin: 0;
}
.comment__bubble {
  display: inline-block;
  max-width: 28rem;
  background-color: $gray1;
  background-image: linear-gradient(to bottom, $gray0, $gray1);
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  font-size: 1rem;

  @media screen and (min-width: 32em) {
    margin-left: -1rem;
  }
}
