.comment__name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.25rem;

  @media screen and (min-width: 32em) {
    margin-left: -1.875rem;
  }
}

.comments img {
  max-height: 200px;
}

.comments .card p:first-child {
  margin-top: 0;
}

.comments .card.hash-highlight {
  animation: highlight 2s;
  border: 1px solid rgba(map-get($palette, warning), 0.25);
}

@keyframes highlight {
  from {
    border: 1px solid map-get($palette, warning);
    background-color: map-get($palette, warning);
  }
  to {
    border: 1px solid rgba(map-get($palette, warning), 0.25);
    background-color: unset;
  }
}