.comment__name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.comments .card {
  transition: background-color 100ms linear;
  overflow: visible;
}

.comments .comment--container {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  p:last-child {
    margin-bottom: 0;
  }
}

.comments .autolink {
}

.comments .card p:first-child {
  margin-top: 0;
}

.comments .card.current-user {
  border: 1px solid rgba(map-get($palette, info), 0.25);
  background-color: mix(map-get($palette, white), map-get($palette, info), 90%);
}

.comments .card.comment--admin {
  border: 1px dashed map-get($palette, warning);
  background-color: mix(
    map-get($palette, white),
    map-get($palette, warning),
    90%
  );
}

.mention-suggestions {
  min-width: 180px !important;
  padding: 0px;
  padding-top: 0px;
  margin: 0;
  margin-top: 24px;
  list-style: none;
  position: absolute;
  border-radius: 4px;
  border: 1px solid map-get($palette, smoke);
}

.mention-suggestion {
  padding: 4px 8px;
}

.mention-suggestion:hover {
  background-color: map-get($palette, info);
  .mention {
    color: map-get($palette, smoke);
  }
}

.mention-suggestion[aria-selected='true'] {
  background: map-get($palette, info);
  .mention {
    color: map-get($palette, smoke);
  }
}
