.details > p,
.details > div,
.details__row {
  align-items: center;
  display: grid;
  margin: 0;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  position: relative;

  strong {
    font-weight: 400;
    color: map-get($palette, slate);
  }

  @media (min-width: 32em) {
    grid-template-columns: 10rem auto;
    grid-gap: 0.5rem;

    strong:after {
      content: ':';
    }
  }

  > a.right:last-child,
  > div.right:last-child,
  > svg {
    float: none;
    line-height: 0;
    position: absolute;
    right: 0;
  }
}
