.details {
  > p,
  > div {
    display: grid;
    border-bottom: 1px solid $gray2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;

    @media (min-width: 32em) {
      grid-template-columns: 10rem auto;
      grid-gap: 0.5rem;

      strong {
        text-align: right;
      }
    }
  }
}
