.details {
  hr {
    border-color: map-get($palette, smoke);
  }
}

.details > p,
.details > div,
.details__row {
  display: grid;
  align-items: center;
  margin: 0;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  position: relative;

  strong {
    font-weight: 400;
    color: map-get($palette, slate);
  }

  @media (min-width: 32em) {
    grid-template-columns: 10rem auto;
    grid-gap: 0.5rem;
  }

  > a.right:last-child,
  > div.right:last-child,
  > svg {
    float: none;
    line-height: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.details__simulated {
  display: flex;
  align-items: flex-start;
  margin: 0;
  min-height: 36px;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

@media (min-width: 48em) {
  .details--wide > p,
  .details--wide > div,
  .details--wide .details__row {
    grid-template-columns: 14rem auto;
  }

  .details--tall > p,
  .details--tall > div,
  .details--tall .details__row {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}

.details-horiz {
  display: flex;
  flex-direction: column;

  > p,
  > div,
  .details-horiz__col {
    display: flex;
    flex-direction: column;
    overflow: visible;

    @media (max-width: 32em) {
      &:first-of-type {
        margin-top: 0.25rem;
      }
      &:last-of-type {
        margin-bottom: 0.25rem;
      }
    }
  }

  strong {
    font-weight: 400;
    color: map-get($palette, slate);
    margin-bottom: 0.25rem;
  }

  &:not(.details-horiz--lg) {
    @media (min-width: 32em) {
      flex-direction: row;

      > p,
      > div,
      .details-horiz__col {
        margin-top: 0;
        margin-bottom: 0;

        &:not(:first-child) {
          padding-left: 1rem;
        }

        &:not(:last-child) {
          border-right: 1px solid map-get($palette, smoke);
          padding-right: 1.25rem;
        }
      }
    }
  }

  @media (min-width: 45em) {
    flex-direction: row;

    > p,
    > div,
    .details-horiz__col {
      margin-top: 0;
      margin-bottom: 0;

      &:not(:first-child) {
        padding-left: 1rem;
      }

      &:not(:last-child) {
        border-right: 1px solid map-get($palette, smoke);
        padding-right: 1.25rem;
      }
    }
  }
}
