.details > p,
.details > div,
.details__row {
  display: grid;
  align-items: center;
  margin: 0;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  position: relative;

  strong {
    font-weight: 400;
    color: map-get($palette, slate);
  }

  @media (min-width: 32em) {
    grid-template-columns: 10rem auto;
    grid-gap: 0.5rem;
  }

  > a.right:last-child,
  > div.right:last-child,
  > svg {
    float: none;
    line-height: 0;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 48em) {
  .details--wide > p,
  .details--wide > div,
  .details--wide .details__row {
    grid-template-columns: 14rem auto;
  }

  .details--tall > p,
  .details--tall > div,
  .details--tall .details__row {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}

.details-horiz {
  display: flex;
  flex-direction: column;

  > p,
  > div,
  .details-horiz__col {
    display: flex;
    flex-direction: column;

    @media (max-width: 32em) {
      &:first-of-type {
        margin-top: 0.25rem;
      }
      &:last-of-type {
        margin-bottom: 0.25rem;
      }
    }
  }

  strong {
    font-weight: 400;
    color: map-get($palette, slate);
    margin-bottom: 0.25rem;
  }

  @media (min-width: 32em) {
    flex-direction: row;

    > p,
    > div {
      margin-top: 0;
      margin-bottom: 0;

      &:not(:last-of-type) {
        border-right: 1px solid map-get($palette, smoke);
        padding-right: 1.25rem;
      }
    }

    > p + p,
    > div + div {
      padding-left: 1rem;
    }
  }
}
