.donations-header-image {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .donations-header-image__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, $dark, transparent);
  }
}
