input.fit {
  max-width: 100% !important;
}

.donation--payment-info {
  /* copied from components/_form.scss */
  background-color: $gray1;
  border-radius: 4px;
  border: 1px solid transparent;
  color: inherit;
  display: block;
  font-size: 1rem;
  margin-left: 0;
  outline: 0;
  padding: 0.75rem;
  position: relative;
  transition: border 0.2s ease;
  width: 100%;

  &:focus {
    border-color: $base;
  }
}
