.qrCode__configPanel {
  display: grid;
  gap: 16px;
}

@media screen and (min-width: 540px) {
  .qrCode__configPanel {
    gap: 0px;
    grid-template-columns: 1fr 1fr;
  }
}

.qrCode__wrapper {
  background-color: #fff;
  border: 1px solid #8492a6;
  border-radius: 16px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.qrCode {
  width: 200px;
  height: 200px;
}

#qrCode--icon {
  display: none;
}

#qrCode--support {
  display: none;
}

#qrCode--icon > img, #qrCode--support > img {
  height: 48px;
  transform: translateX(-5.5px)
}

#qrCode--logo {
  display: none;
}

#qrCode--bank {
  display: none;
}

#qrCode--bank-dark {
  display: none;
}

#qrCode--blank {
  display: none;
}

.qrCode--active {
  display: block!important;
}

.iconsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  width: fit-content;
}

.iconsGrid > img, .iconsGrid > svg {
  height: 54px;
    background-color: map-get($palette, snow);
  border-radius: 12px;
  cursor: pointer;
}

.iconsGrid > .rounded {
  padding: 8px;
}