.emburse-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 32rem;
  min-height: 12rem;
  padding: 1.5rem;
  position: relative;
  background-color: #54d;
  background-image: radial-gradient(ellipse at top right, #867ae7, transparent);
  background-image: #{image-url('emburse-swoosh.svg')}, radial-gradient(ellipse at top right, #867ae7, transparent);
  background-repeat: no-repeat;
  /* 120% to account for z-axis perspective */
  background-size:120%;
  font-family: $mono;
  font-size: 1.25rem;
  color: $white;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  transition: 0.25s ease-out transform;
  transform: scale(1);
  transform-style: preserve-3d;

  &:focus,
  &:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25),
      0 18px 36px 0 rgba(0, 0, 0, 0.25);
  }

  &:before {
    content: '';
    width: 10rem;
    height: 3rem;
    background: #{image-url('emburse.svg')} no-repeat;
    background-size: 100%;
    flex: 1 1 auto;
    transform: translateZ(20px);
  }

  &.virtual {
      background-image: #{image-url('emburse-virtual.svg')}, radial-gradient(ellipse at top right, #867ae7, transparent);
  }
}

.emburse-card__name {
  text-transform: uppercase;
  font-weight: bold;
  transform: translateZ(20px);
}

.emburse-card__number {
  transform: translateZ(20px);

  strong {
    font-size: 1.5rem;
    font-weight: 900;
    color: $white;
  }
}
