.event_settings__content {
  padding: 1rem 2rem;
  padding-top: 0.5rem;
  width: 100%;
  & h2 {
    border-bottom: none;
    margin-top: 0;
  }
  & .field input,
  & .field textarea {
    max-width: 100%;
  }
}

.event_settings__banner {
  width: 100%;
  height: 10rem;
  background-color: $slate;
  position: relative;
  margin-bottom: 4rem;
  & > .banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & > .event_settings__banner--edit {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    background-color: $smoke !important;
  }

  & > .event_settings__banner--logo {
    width: 6rem;
    height: 6rem;
    position: absolute;
    bottom: -4rem;
    left: 2rem;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & > .event_settings__logo--edit {
      position: absolute;
      top: -12px;
      right: -12px;
      background-color: $smoke !important;
    }
  }
}

html[data-dark='true'] {
  .event_settings__banner {
    background-color: lighten($darkless, 5%);
    & > .event_settings__banner--edit,
    & .event_settings__logo--edit {
      background-color: lighten($darkless, 5%) !important;
    }
  }
}
