.faq--container {
  li h3 {
    padding-left: 3px;
    padding-right: 3px;
  }

  li:target h3 {
    background: linear-gradient( to right, rgba(250, 247, 133, 0.66), rgba(250, 247, 133, 0.1) );
    border-radius: 5px;
  }

  html[data-dark="true"] li:target h3 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25),0 2px 4px rgba(0, 0, 0, 0.125);
  }

  summary > a.anchor-link {
    opacity: 0;
    position: absolute;
    top: 0;
    left: -35px;
  }
  summary:hover > a.anchor-link, li:target summary > a.anchor-link {
    opacity: 1;
  }
}