@import 'variables';

.feature-disbursements {
  background: $snow;
  background-image: #{image-url('feature-internal-transfer-light.png')};
  background-size: 3em;
}

html[data-dark='true'] {
  .feature-disbursements {
    background: $black;
    background-image: #{image-url('feature-internal-transfer-dark.png')};
    background-size: 3em;
  }
}