@import '../variables';

.feature-disbursements {
  background: $snow;
  background-image: url('feature-internal-transfer-light.png');
  background-size: 3em;
}

html[data-dark='true'] {
  .feature-disbursements {
    background: $black;
    background-image: url('feature-internal-transfer-dark.png');
    background-size: 3em;
  }
}

.feature-receipt-upload {
  background-color: $snow;
  background-image: url('feature-receipt-upload-light.png');
  background-size: 6em;
}

html[data-dark='true'] {
  .feature-receipt-upload {
    background-color: $black;
    background-image: url('feature-receipt-upload-dark.png');
  }
}

.feature-detailed-events-list {
  background-color: $snow;
}

html[data-dark='true'] {
  .feature-detailed-events-list {
    background-color: $black;
  }
}

.feature-sms-receipt-notification {
  background-color: $snow;
  background-image: url('feature-sms-receipt-notification-light.png');
  background-size: 8em;
}

html[data-dark='true'] {
  .feature-sms-receipt-notification {
    background-color: $black;
    background-image: url('feature-sms-receipt-notification-dark.png');
  }
}

.feature-ai-memos {
  background-color: $snow;
  background-image: url('feature-ai-memos-light.png');
  background-size: 8em;
}

html[data-dark='true'] {
  .feature-ai-memos {
    background-color: $black;
    background-image: url('feature-ai-memos-dark.png');
  }
}

.feature-two-factor-authentication {
  background-color: $snow;
  background-image: url('feature-two-factor-authentication-light.png');
  background-size: 150px;
}

html[data-dark='true'] {
  .feature-two-factor-authentication {
    background-color: $black;
    background-image: url('feature-two-factor-authentication-dark.png');
  }
}

.feature-totp {
  background-color: $snow;
  background-image: url('feature-totp-light.png');
  background-size: 8em;
}

html[data-dark='true'] {
  .feature-totp {
    background-color: $black;
    background-image: url('feature-totp-dark.png');
  }
}

.feature-transaction-tags {
  background-size: 24em;
  background-color: $snow;
  position: relative;

  & > * {
    z-index: 100;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('feature-transaction-tags-dark.png');
    background-size: 24em;
    opacity: 0.1;
  }
}

html[data-dark='true'] .feature-transaction-tags {
  background-color: $black;

  &::after {
    opacity: 1;
  }
}

.feature-reimbursements {
  background-color: $snow;
  background-image: linear-gradient(
      to right,
      rgba($snow, 0.9),
      rgba($snow, 0.9)
    ),
    url('feature-reimbursements.png');
  background-size: 4em;
}

html[data-dark='true'] {
  .feature-reimbursements {
    background-color: $black;
    background-image: url('feature-reimbursements.png');
  }
}

.feature-turbo {
  background-color: $snow;
  background-image: linear-gradient(
      to right,
      rgba($snow, 0.9),
      rgba($snow, 0.9)
    ),
    url('feature-turbo.png');
  background-size: 4em;
}

html[data-dark='true'] {
  .feature-turbo {
    background-color: $black;
    background-image: url('feature-turbo.png');
  }
}

.feature-check-deposits {
  background-color: $snow;
  background-size: 4em;
}

html[data-dark='true'] {
  .feature-check-deposits {
    background-color: $black;
  }
}

.feature-cover-fees {
  background-color: $smoke;
  background-size: 4em;
}

html[data-dark='true'] {
  .feature-cover-fees {
    background-color: $black;
  }
}

.feature-anonymous-donations {
  background-size: 24em;
  background-color: $snow;
  position: relative;

  & > * {
    z-index: 100;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('feature-anonymous-donations-dark.png');
    background-size: 24em;
    opacity: 0.1;
  }
}

html[data-dark='true'] .feature-anonymous-donations {
  background-color: $black;

  &::after {
    opacity: 1;
  }
}

.feature-user-permissions {
  position: relative;
  background-color: $snow;

  & > * {
    z-index: 100;
  }

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    background-image: url('feature-user-perms-dark.png');
    background-size: 5em;
    opacity: 0.1;
  }

  html[data-dark='true'] & {
    background-color: $black;
    &::before {
      opacity: 0.3;
    }
  }
}

.feature-generic {
  background-color: $snow;
}

html[data-dark='true'] {
  .feature-generic {
    background-color: $black;
  }
}
