.feedback-form {
  position: fixed;
  bottom: 0.5rem;
  right: 0;

  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 6px;

  transition-duration: 0.125s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, backdrop-filter;

  .view-close-icon {
    display: none;
  }

  &.visible {
    background-color: rgba($snow, 0.9);

    html[data-dark='true'] & {
      background-color: rgba($dark, 0.9);
    }

    backdrop-filter: blur(2px);

    .feedback-form__btn--open {
      display: none;
    }

    .feedback-form__btn--close {
      display: inline-flex;
    }
  }

  &:not(.visible) {
    pointer-events: none;

    .feedback-form__btn--open {
      pointer-events: initial;
    }
  }
}

@media (max-width: 56em) {
  .feedback-form--with-dock {
    bottom: 5.5rem;
  }
}

.feedback-form__message {
  margin-bottom: 1rem;
  width: 100%;
  height: 10rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125);

  visibility: hidden;
  opacity: 0;
  transform: translateY(1rem);

  transition-duration: 0.125s;
  transition-timing-function: ease-in-out;
  transition-property: transform, visibility, opacity, border;

  .visible & {
    visibility: visible;
    opacity: 100;
    transform: none;
  }

  html[data-dark='true'] &:not(:focus) {
    border-color: map-get($palette, slate) !important;
  }
}

.feedback-form__support_redirect {
  visibility: hidden;
  opacity: 0;
  transform: translateY(1rem);
  transition-duration: 0.125s;
  transition-timing-function: ease-in-out;
  transition-property: transform, visibility, opacity, border;
  margin-bottom: 1rem;

  .visible & {
    visibility: visible;
    opacity: 100;
    transform: none;
  }

  html[data-dark='true'] &:not(:focus) {
    border-color: map-get($palette, slate) !important;
  }
}

.feedback-form__btn {
  border: none;
  cursor: pointer;
}

.feedback-form__btn--close {
  display: none;
}

.feedback-form__options {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-1rem);

  transition-duration: 0.125s;
  transition-timing-function: ease-in-out;
  transition-property: transform, visibility, opacity;

  .visible & {
    visibility: visible;
    opacity: 100;
    transform: none;
  }
}

.feedback-form__btn--open {
  background-color: rgba(51, 142, 218, 0.825) !important;
  color: white;
}