.filterbar {
  font-family: $brand-font-family;
  padding: 1rem 0;
  align-self: center;
}

.filterbar__filters {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @media (max-width: 32em) {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
  }
}

.filterbar__item {
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.75;
  outline: 0;
  padding: 0.25rem 0.75rem;
  position: relative;
  text-decoration: none;
  transition: color 0.125s ease-in-out, background-image 0.125s ease-in-out;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    @include gradient(primary);
    border-radius: 1rem;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
  }

  &:focus {
    color: map-get($palette, info);
  }

  &:active,
  &[aria-selected='true'] {
    color: $white;
    &:before {
      transform: scale(1);
    }
  }
}
