[data-tabs-target='btn'] {
  background: transparent;
  border: none;
  padding: 0.2rem;
  cursor: pointer;

  &.active {
    color: $blue;
    font-weight: 600;
  }
}

.menu__divider--filter-tab {
  @extend .menu__divider;
  margin-bottom: 0.2rem !important;
  margin-top: 0.3rem !important;
}
