input[type='date'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
.input,
select,
textarea {
  -webkit-appearance: none;
  background-color: $white;
  border-radius: 6px;
  border: 1px solid map-get($palette, smoke);
  color: inherit;
  display: block;
  font-size: 1rem;
  min-height: 3rem;
  margin-left: 0;
  outline: 0;
  padding: 0.25rem 0.5rem;
  position: relative;
  transition: border 0.2s ease;
  width: 100%;
  max-width: 24rem;

  .card & {
    background-color: map-get($palette, smoke);
    border-color: transparent;
  }

  &:focus {
    border-color: map-get($palette, info);
  }

  &[readonly],
  &[disabled] {
    cursor: no-drop;
    color: map-get($palette, slate);
  }
}

input[type='file'] {
  color: inherit;
  display: block;
  font-size: 1rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'],
.input--narrow {
  max-width: 16rem !important;
}

input[type='search'] {
  padding-left: 1rem;
}
input[type='search']::-webkit-search-decoration {
  display: none;
}

.field_with_errors {
  label {
    font-weight: 500;
    color: map-get($palette, error);
  }
  input {
    border-color: map-get($palette, error);
  }
}

.field {
  margin-bottom: 0.75rem;
}
.field--money {
  display: flex;
  align-items: center;

  &:before {
    content: '$';
    font-weight: bold;
    color: map-get($palette, muted);
    display: inline-block;
    width: 1rem;
  }

  input {
    max-width: 15rem !important;
  }
}
.field--checkbox {
  display: flex;
  align-items: center;

  input {
    margin-right: 0.5rem;
  }
}
.field--radiobox {
  display: flex;
  align-items: center;

  label {
    margin-right: 0.5rem;
  }
}
.actions {
  margin-top: 1.5rem;
}

label {
  display: block;
  color: map-get($palette, black);
}

$select: image-url('select.svg');
select {
  background: #{$select} right 0.75rem center / 0.5rem no-repeat $white;
}
// rails date(time) inputs
select[name$='i)]'] {
  width: 4.5rem;
  display: inline-block;
}
// rails month inputs should be wider
select[id$='_2i'] {
  width: 9.125rem; // magic number, makes form page_sm wide
}

fieldset,
legend {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
.field--options {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 384px;

  strong {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  input {
    display: none;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
    line-height: 1.25;
    color: map-get($palette, info);
    background-color: rgba(map-get($palette, accent), 0.25);
  }

  input:checked + label {
    box-shadow: 0 0 0 1px white, 0 0 0 3px map-get($palette, info);
  }
}

textarea.card {
  max-width: none;
  border: 0;
  transition: 0.2s ease box-shadow;

  &:focus {
    box-shadow: inset 0 0 0 1px map-get($palette, info),
      0 0 2px 0 rgba(0, 0, 0, 0.0625), 0 4px 8px 0 rgba(0, 0, 0, 0.125);
  }
}

input.fit {
  max-width: 100% !important;
}

form.grid--split,
form section.grid--split {
  gird-template-columns: repeat(2, 1fr);
  grid-gap: 0.75rem !important;

  .field {
    grid-column: span 2;
    margin-bottom: 0;
  }
}
.grid__half {
  grid-column: span 1 !important;
}
