#HW_badge_cont {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  top: 0;
}

#HW_badge[data-count-unseen] {
  opacity: 1 !important;
  background: map-get($palette, primary) !important;
  top: -5px;
  left: 24px;
}
#HW_badge[data-count-unseen=''] {
  opacity: 0 !important;
}

.headway {
  color: map-get($palette, muted);
}
