.breadcrumb {
  text-transform: uppercase;
  text-decoration: none;

  &:after {
    content: ' »';
  }
  + h1,
  + h2 {
    margin-top: 0;
  }
}

.heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .btn {
    margin-left: auto;

    ~ .btn,
    ~ .pop {
      margin-left: unset;
    }
  }

  .menu__content {
    font-size: 1rem;
  }
}

h2.heading,
h3.heading {
  margin-bottom: 0;

  .btn {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.75;
    padding: 0.25rem 1rem;
  }
}
