.time-icon {
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	color: map-get($palette, white);
	border: 3px solid;
	border-radius: 0.5rem;
	overflow: hidden;
	font-weight: bold;
	text-align: center;

	strong {
		display: block;
    padding: .25rem 0;
    line-height: 1;
    font-size: 0.75rem;
		color: $white;
		background-color: map-get($palette, black);
	}

	span {
		display: block;
		font-size: 1.5rem;
    letter-spacing: -0.05em;
    line-height: 1.125;
	}
}

.incoming_deposits {
	display: grid;
	grid-gap: 1rem;
	max-height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 1rem;
	margin: -0.5rem -1rem 0;

	@media (min-width: 32em) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.incoming_deposits__badge {
	flex-shrink: 0;
}

.incoming_deposits__spacer {
	display: block;
	height: 1rem;
}

.incoming_deposits__sponsor {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
