.invoice-progress {
  background-color: $gray2;
  border-radius: 0.5rem;
  height: 48px;
  line-height: 48px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
}
.invoice-progress__paid,
.invoice-progress__remaining {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  left: 0;
}
.invoice-progress__paid {
  position: absolute;
  padding-left: 8px;
  background-color: $teal6;
  color: $white;
  z-index: 1;
}
.invoice-progress__remaining {
  left: 0;
  right: 0;
  padding-right: 8px;
  width: 100%;
  text-align: right;
  color: $gray7;
  z-index: 0;
}
