.menu__toggle {
  cursor: pointer;
  position: relative;
  font-family: $font-family;

  &[aria-expanded='true'] {
    outline: none;

    &:after {
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      border: solid transparent;
      content: '';
      position: absolute;
      pointer-events: none;
      z-index: 5;

      @media (max-width: 32em) {
        display: none;
      }
    }

    &:after {
      border-bottom-color: map-get($palette, white);
      border-width: 10px;
    }

    &.tooltipped:after {
      content: initial;
    }
  }
}

.menu__content {
  display: none;
  min-width: 14rem;
  position: absolute;
  top: 100%;
  background-color: map-get($palette, white);
  border-radius: 0.5rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.0625), 0 6px 12px rgba(0, 0, 0, 0.125);
  overflow: hidden;
  z-index: 6;

  @media (min-width: 32em) {
    width: 16rem;
    padding: 0.5rem;

    .heading .btn & {
      left: -75%;
    }

    .card & {
      right: 0;
    }
  }

  @media screen and (max-width: 32em) {
    padding: 1rem 0.5rem 2rem;
    border-radius: 0.75rem 0.75rem 0 0;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25),
      0 0 0 100vh rgba(0, 0, 0, 0.375);
    font-size: 1rem;
    z-index: 999;

    @supports (padding: calc(env(safe-area-inset-bottom))) {
      padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid map-get($palette, smoke);
    margin: 0.5rem 0;
  }
}

.menu__content > a,
.menu__action {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.75rem 0.5rem;
  color: map-get($palette, black);
  position: relative;
  text-decoration: none;
  letter-spacing: 0;
  background-color: transparent;
  transition: 0.125s ease-in-out background-color, 0.125s ease-in-out color;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    @include gradient(info);
    border-radius: 6px;
    opacity: 0;
    transition: opacity 125ms ease-in-out;
  }

  &:hover,
  &:focus {
    color: $white;
    &:before {
      opacity: 1;
    }
  }

  svg {
    margin-right: 6px;
  }

  + .menu__action {
    border-top: 1px solid map-get($palette, smoke);
  }
}
