/* adapted from https://github.com/kylefox/jquery-modal/blob/master/jquery.modal.css */
.blocker {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.375);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.125),
    rgba(0, 0, 0, 0.25)
  );
  display: flex;
  flex-direction: column;
}
.blocker.behind {
  background-color: transparent;
}

.modal {
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125), 0 12px 24px 0 rgba(0, 0, 0, 0.25);
  padding: 2rem 1rem;
  border-radius: 0.75rem;
  overflow: hidden;
  display: none;
  margin: auto;
  width: 36rem;
  max-width: 95vw;
  max-height: 85vh;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  text-align: left;

  @media (min-width: 32rem) {
    padding: 2rem;
  }
}
.modal--wide {
  width: 48rem;
}
.modal--scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0 !important;

  header {
    background-color: $white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0 -1rem 1rem;
    padding: 1rem 1rem 0.5rem;

    @media (min-width: 32em) {
      margin: 0 -2rem 1rem;
      padding: 2rem 2rem 0.75rem;
    }
  }

  &.bg-snow header {
    border-bottom: 1px solid rgba(48, 48, 48, 0.125);
  }
}

// NOTE: icon for mouse/touch users to close modal
// this design is too small for touch users, but larger area doesn't fit well
.modal__close {
  float: right;
  width: 28px;
  height: 28px;

  @media (min-width: 32em) {
    margin: -14px; // half the size
  }
}

// NOTE: text for screenreader users to close modal. hidden onscreen
.close-modal {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*
NOTE: Not using these right now
.modal-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #111;
  height: 20px;
}

.modal-spinner > div {
  border-radius: 100px;
  background-color: #fff;
  height: 20px;
  width: 2px;
  margin: 0 1px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.modal-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.modal-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.modal-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.5) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
*/
