@import 'variables';

 .promo-pvsa {
   background: repeating-linear-gradient(
     135deg,
     #eee 0%,
     white 40%,
     #3c3b6e 40%,
     #3c3b6e 65%,
     #b22234 65%,
     #b22234 70%,
     white 70%,
     white 75%,
     #b22234 75%,
     #b22234 80%,
     white 80%,
     white 85%,
     #b22234 85%,
     #b22234 90%,
     white 90%,
     #eee 100%
   );
 }

 .promo-domains {
     background-color: #F5F5F5;
     background-image: linear-gradient(to right, rgba(245, 246, 252, 0.25), rgba(248, 248, 248, 0.05)), url("https://cloud-hapajna0o-hack-club-bot.vercel.app/0frame_6-2.svg");
     background-size: cover;
     background-repeat: no-repeat;
 }

 html[data-dark="true"] {
   .promo-domains {
       background-color: #363A44;
       color: white;
   }
 }