@import '../variables';

.promo-pvsa {
  background: repeating-linear-gradient(
    135deg,
    #eee 0%,
    white 40%,
    #3c3b6e 40%,
    #3c3b6e 65%,
    #b22234 65%,
    #b22234 70%,
    white 70%,
    white 75%,
    #b22234 75%,
    #b22234 80%,
    white 80%,
    white 85%,
    #b22234 85%,
    #b22234 90%,
    white 90%,
    #eee 100%
  );
}

.promo-domains {
  background-color: #f5f5f5;
  background-image:
    linear-gradient(
      to right,
      rgba(245, 246, 252, 0.25),
      rgba(248, 248, 248, 0.05)
    ),
    url('https://cloud-drtdkpcni-hack-club-bot.vercel.app/0not-a-hcb-leek.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.promo-stickerninja {
  background-color: #f5f5f5;
  background-image:
    linear-gradient(
      to right,
      rgba(245, 246, 252, 0.25),
      rgba(248, 248, 248, 0.05)
    ),
    url('https://cloud-brj27gj5t-hack-club-bot.vercel.app/0ninja_background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.promo-stickers {
  background-image:
    linear-gradient(to right, rgba(20, 20, 20, 0.3), rgba(248, 248, 248, 0.05)),
    url('https://cloud-gjqy3yr8t-hack-club-bot.vercel.app/0hero.jpg');
  background-size: cover;
  background-position: 0% 30%;

  .sticker {
    transform: rotate(20deg);
    transition-duration: 0.125s;

    &.wide {
      transform: rotate(-15deg);
    }

    &:hover {
      transition: 0.2s ease-in-out;
      transform: scale(1.3);
    }
  }
}

.promo-1password {
  background-color: $blue;
  background-image: url('https://cloud-p7r1i1ebz-hack-club-bot.vercel.app/0yeah.svg');
  background-position-x: right;
  background-size: 60%;
  background-repeat: no-repeat;
}

.promo-event-helper {
  background-color: rgb(238, 188, 36);
  color: black;
}

.promo-sendy {
  background-color: #8492a6;
  background-image: url('https://cloud-7cxyr06bk-hack-club-bot.vercel.app/0yeah.svg');
  background-repeat: repeat;
  background-size: 500px auto;
}

.promo-wallets {
  background-color: #bfe595;
  background-image: url('https://cloud-kir52yjnl-hack-club-bot.vercel.app/0amaziograph_c0634a90-37b4-42a9-9986-9d1495a3f33d_1__traced___1_.svg');
  background-repeat: repeat;
  background-size: 500px auto;
}

.promo-hackathon-grant {
  border: 2px solid $red;

  .card__banner--top {
    background-image:
      linear-gradient(to right, $dark 10%, transparent),
      url('https://cloud-3aeson6ue-hack-club-bot.vercel.app/0lahacks3.jpeg');
    background-size: cover;
    background-position: left center;
  }
}

.promo-bin {
  .card__banner--top {
    h3 {
      color: #363a44 !important;
    }
    background-image: url('https://cloud-meapabplu-hack-club-bot.vercel.app/2screenshot_2024-05-15_at_17.37.21.png');
    background-size: cover;
    background-position: left center;
  }
}

.promo-onboard {
  .card__banner--top {
    background-image: url('https://cloud-meapabplu-hack-club-bot.vercel.app/0zxcv.png');
    background-size: cover;
    background-position: center;
  }
}

html[data-dark='true'] {
  .promo-bin {
    .card__banner--top {
      h3 {
        color: #fff !important;
      }
      background-image: url('https://cloud-meapabplu-hack-club-bot.vercel.app/3screenshot_2024-05-15_at_17.37.30.png');
    }
  }
  .promo-pvsa {
    background: repeating-linear-gradient(
      135deg,
      #8492a6 0%,
      #8492a6 40%,
      #3c3b6e 40%,
      #3c3b6e 65%,
      #b22234 65%,
      #b22234 70%,
      #8492a6 70%,
      #8492a6 75%,
      #b22234 75%,
      #b22234 80%,
      #8492a6 80%,
      #8492a6 85%,
      #b22234 85%,
      #b22234 90%,
      #8492a6 90%,
      #8492a6 100%
    );
  }

  .promo-domains {
    background-color: #363a44;
    color: white;
  }

  .promo-stickerninja {
    background-color: #363a44;
    color: white;
  }

  .promo-stickers {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .promo-1password {
    background-color: $black;
  }

  .promo-event-helper {
    background-color: rgba(39, 110, 87, 0.732);
  }

  .promo-sendy {
    background-color: #343a44;
  }

  .promo-wallets {
    background-color: #768c5d;
  }
}

.list-plus::marker {
  content: '+ ';
}
