.receipt {
  max-width: var(--receipt-size);

  .receipt--image {
    max-height: calc(var(--receipt-size) * 1.5);
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 100%;
  }

  @media (max-width: 32em) {
    .modal ul & {
      justify-content: center;
    }

    .modal & {
      width: 100%;
      max-width: calc(var(--receipt-size) * 1.25);

      .receipt--image {
        width: 100%;
        max-width: 100%;
        max-height: calc(var(--receipt-size) * 1.75);
      }
    }
  }

  &:hover {
    .receipt__delete-button {
      opacity: 1;
    }
  }
}

.receipt__delete-button {
  opacity: 0;
}

.receipt--pairing,
.receipt--selected {
  margin: -10px;
  padding: 10px;
  border-radius: 8px;
  box-sizing: content-box;
  margin-bottom: -2px;

  background-color: rgba(map-get($palette, ai), 0.2);

  &,
  &:not(.receipt--pairing) {
    /* for additional specificity; jank, but better than !important */
    margin-bottom: -2px;
  }

  > footer {
    border-top: none !important;
  }

  &.receipt--selected {
    background-color: rgba(#2790e7, 0.4);
  }

  .receipt__icon--star,
  .receipt__icon--check {
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-sizing: content-box;
    color: #fff;
    opacity: 1;
    padding: 8px;
    line-height: 26px;
    font-weight: 600;
    border-radius: 50%;
    z-index: 1002;
    font-size: 20px;
    width: 24px;
    height: 24px;
    text-align: center;
    display: none;
  }

  &.receipt--pairing.receipt--selected .receipt__icon--star {
    transform: translateX(calc(0px - 100% - 8px));
  }

  &.receipt--selected .receipt__icon--check {
    opacity: 1;
  }

  .receipt__icon--check {
    background: #2790e7;
    display: block;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }

  &.receipt--pairing .receipt__icon--star {
    background: map-get($palette, ai);
    display: block;
    transform: translateX(0px);
    transition: all 0.2s ease-in-out;
  }

  span > img {
    position: relative;
    z-index: 1001;
  }

  span:has(> img) {
    position: relative;
    z-index: 1000;
  }
}

.receipt--selected.receipt--pairing {
  // box-shadow: inset 0 0 0 2px rgba($red, 0.8);
}

.receipt__search {
  position: relative;

  &::after {
    content: attr(data-results);
    display: block;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
  }
}

.receipt__icon--star,
.receipt__icon--check {
  display: none;
}

.modal--popover--receipt-expanded
  > turbo-frame
  > :not(.receipt--expanded):not(header):not(#receipts_list),
.modal--popover--receipt-expanded > #receipts_list > :not(.receipt--expanded) {
  display: none !important;
}

.receipt--expanded > span > .receipt--image {
  width: 100%;
  cursor: default;
}

.receipt--expanded > span > .receipt__pdf-preview {
  display: none;
}

.receipt--expanded > iframe {
  display: block !important;
}

.receipt--expanded > span > .receipt__minimize {
  display: inline-flex !important;
}

.receipt__minimize {
  cursor: pointer;
  display: none;
  margin-right: 4px;
  border: none;
  height: 24px;
  width: 24px;
}
