.session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 32em) {
    .session-header {
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
    }
}
