.stat {
  display: block;
  font-variant-numeric: tabular-nums;
}

.stat__value {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.25rem;
}

.stat:not(.stat--plain) .stat__value:before {
  content: '$';
  color: map-get($palette, muted);
  font-size: 1.5rem;
  vertical-align: top;
}

.stat__label {
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

.stat--small {
  display: inline-block;

  .stat__value {
    font-size: 2rem;

    &:before {
      font-size: 1.125rem;
    }
  }
}

// Set of 4 stats, like the main event & invoices pages
.statset {
  display: grid;
  grid-gap: 0.5rem;
  align-items: end; // bottom-align stats of varying sizes

  // On iPhone SE/super small screens, 1 column. Most phones, 2 columns
  @media screen and (max-width: 48em) and (min-width: 24em) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    .statset__wide:last-child {
      grid-row: 2;
    }
  }

  // On larger screens, 4 columns
  @media (min-width: 48em) {
    grid-gap: 1rem;
    // First stat is larger than the rest
    grid-template-columns: 3fr 2fr 2fr 2fr;
  }
}

@media screen and (min-width: 24em) and (max-width: 32em) {
  // "aux" stats are small & go the right of the first, large stat
  .statset__aux {
    grid-row: 1;
    grid-column: 2;
  }

  // wide stats for long numbers
  .statset__wide {
    grid-column: span 2;
  }
}
