.tab-container {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.25rem;
  border-bottom: 0.5px solid map-get($palette, smoke);
  background-color: $snow;
  z-index: 5;

  transition: background-color 0.125s ease-in-out 0s;

  overflow-x: auto;

  html[data-dark='true'] & {
    border-bottom-color: map-get($palette, slate);
    background-color: $dark;
  }

  * {
    flex-shrink: 0;
  }

  li {
    padding: 0.5rem 0.125rem 0.75rem;
    color: $muted;
    transition: color ease 125ms;
    position: relative;
    white-space: nowrap;
    a {
      text-decoration: none;
    }
    &.active a {
      color: map-get($palette, primary) !important;
    }
    &.active::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: map-get($palette, primary);
      border-radius: 1px 1px 0 0;
    }
    &:hover {
      color: #3c4858;
      transition: color ease 0.2s;
    }
  }
}
