.organizer-position-invite {
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  grid-auto-flow: row;
  grid-template-areas:
      "invite-info invite-cancel"
      "invite-date invite-cancel";

  & .organizer-position-invite__cancel {
    grid-area: invite-cancel;
  }

  & .organizer-position-invite__info {
    grid-area: invite-info;
  }

  & .organizer-position-invite__date {
    grid-area: invite-date;
  }

  .avatar-container__admin-bolt {
    position: absolute;
    left: -14.5px;
    bottom: -2.5px;
  }
}
