.tooltipped {
  position: relative;

  &:after {
    position: absolute;
    pointer-events: none;
    content: attr(aria-label);
    padding: 2px 12px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.0625),
      0 4px 8px 0 rgba(0, 0, 0, 0.125);
    font-family: $font-family;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625;
    height: 1.5rem;
    color: map-get($palette, white);
    background-color: map-get($palette, slate);
    border-radius: 0.25rem;
    right: 100%;
    bottom: 50%;
    margin-right: 0.5rem;
    transform: translateY(50%);
    opacity: 0;
    transition: 0.125s all ease-in-out;
    width: max-content;
  }

  &:hover:after,
  &:active:after,
  &:focus:after {
    opacity: 1;
  }
}

.tooltipped--e:after {
  left: 100%;
  right: 0;
  margin-left: 0.5rem;
  margin-right: 0;
  transform: translateY(50%);
}

.tooltipped--n:after {
  right: 50%;
  bottom: 100%;
  margin-right: 0;
  transform: translateX(50%);
}

.tooltipped--s:after {
  right: 50%;
  top: 100%;
  margin-right: 0;
  transform: translateX(50%);
}
