#tooltip-container {
  position: absolute;
  padding: 0.25rem 0.75rem;
  background-color: rgba(map-get($palette, black), 0.875);
  border-radius: 0.5rem;
  box-shadow:
    0 0 2px 0 rgba(0, 0, 0, 0.0625),
    0 4px 8px 0 rgba(0, 0, 0, 0.125);
  color: map-get($palette, white);
  font-family: $font-family;
  font-size: 0.875rem;
  font-weight: 500;
  max-width: 16rem;
  min-height: 1.25rem;
  pointer-events: none;
  text-align: center;
  transform: scale(0.875);
  transition:
    0.125s all ease-in-out,
    top 0s,
    left 0s;
  backdrop-filter: blur(2px);
  z-index: 99999999;
  opacity: 0;

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &.tooltipped--lg {
    max-width: 24rem;
  }

  &.tooltipped--xl {
    max-width: none;
  }
}
