.arrow {
  width: 16px;
  height: 16px;
  transform: rotate(45deg);

  background-color: $white;

  [data-dark='true'] & {
    background-color: $darkless;
  }
}

.back-to-tour {
  animation: fadeUp 0.25s 0.5s ease-out both;

  position: fixed;
  bottom: 3rem;
  left: 3rem;

  z-index: 5;

  background-color: map-get($palette, 'primary') !important;
  color: $white;

  &__arrow {
    transition: transform 0.125s ease-out;
  }

  &:hover &__arrow {
    transform: translateX(0.4rem);
  }

  &:hover {
    color: $white;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(10px) scale(0.9);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 100;
  }
}
