.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 48em) {
  .table-container {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .table-container {
    margin: 0 !important;
    td {
      white-space: nowrap;
    }
  }
}

.transaction__icon {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;

  img,
  svg {
    width: 24px;
    height: 24px;
    fill: map-get($palette, muted);
    margin: 0;
  }
}
