.table-container {
  overflow-x: auto;
}

.transaction__memo {
  max-width: 400px;

  > div {
    display: flex;
    align-items: center;
  }

  a:first-child,
  span:first-child {
    flex: 1 1 auto;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 44ch;

    @media screen and (max-width: 32em) {
      max-width: 32ch; // reduce character count on mobile
    }
  }

  + td {
    text-align: right; // right-align amount
  }
}

[class^="transaction--"]:target {
  animation: highlight 2s;
}

.transaction__icon {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;

  img,
  svg {
    width: 24px;
    height: 24px;
    fill: map-get($palette, muted);
    margin: 0;
  }
}

@keyframes highlight {
  from {
    background-color: map-get($palette, warning);
  }
  to {
    background-color: none;
  }
}