.table-container {
  overflow-x: auto;
}

@media (min-width: 72em) {
  .table-container {
    max-width: calc(100vw - 20rem);
  }
}

.transaction--fancy {
  background-image: repeating-linear-gradient(
    to bottom right,
    rgb(226, 177, 66) 0px,
    rgb(251, 232, 122) 50px,
    rgb(226, 177, 66) 100px
  );
  background-attachment: fixed;
  color: $black;
}
.transaction--icy {
  background-image: repeating-linear-gradient(
    to bottom right,
    #33d6a6 0px,
    #338eda 50px,
    #33d6a6 100px
  );
  background-attachment: fixed;
  font-weight: bold;
  color: $white;
}
.transaction--frc {
  font-weight: 600;
  color: $black;
  td {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.1;
      background-image: #{image-url('frc-background.png')};
      background-size: 24em;
      background-position: center;
      background-attachment: fixed;
    }
  }
}

html[data-dark='true'] {
  .transaction--frc {
    color: $white;
    &::after {
      opacity: 0.15;
      filter: invert(100%);
    }
  }
}

.transaction__memo {
  max-width: 400px;

  > div {
    display: flex;
    align-items: center;
  }

  span:first-child {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 32em) {
      max-width: 32ch; // reduce character count on mobile
    }
  }

  + td {
    text-align: right; // right-align amount
  }

  .add-tag-badge {
    display: none;
    cursor: pointer;
  }
}

[class^='transaction--']:hover .add-tag-badge,
.add-tag-badge[aria-expanded='true'] {
  display: block;
}

[class^='transaction--']:target {
  animation: highlight 2s;
}

.transaction__icon {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;

  img,
  svg {
    width: 24px;
    height: 24px;
    fill: map-get($palette, muted);
    .transaction--fancy & {
      fill: $black;
    }
    .transaction--icy & {
      fill: $white;
    }
    margin: 0;
  }
}

@keyframes highlight {
  from {
    background-color: map-get($palette, warning);
  }
  to {
    background-color: none;
  }
}
