.table-container {
  overflow-x: auto;
}

@media (min-width: 72em) {
  .table-container {
    max-width: calc(100vw - 20rem);
  }
}

.transaction--fancy {
  background-image: repeating-linear-gradient(
    to bottom right,
    rgb(226, 177, 66) 0px,
    rgb(251, 232, 122) 50px,
    rgb(226, 177, 66) 100px
  );
  background-attachment: fixed;
  color: $black;
  > td > .author {
    display: none;
  }
}

.transaction--icy {
  background-image: repeating-linear-gradient(
    to bottom right,
    #33d6a6 0px,
    #338eda 50px,
    #33d6a6 100px
  );
  background-attachment: fixed;
  font-weight: 600;
  color: $white;
}

.transaction--frc {
  font-weight: 600;
  color: $black;

  td {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.1;
      background-image: url('frc-background.png');
      background-size: 24em;
      background-position: center;
      background-attachment: fixed;
    }
  }
}

html[data-dark='true'] {
  .transaction--frc {
    color: $white;

    &::after {
      opacity: 0.15;
      filter: invert(100%);
    }
  }
}

.transaction__memo {
  max-width: 400px;

  > div {
    display: flex;
    align-items: center;
  }

  span:not(.badge):not(.list-badge):first-of-type {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 32em) {
      max-width: 32ch; // reduce character count on mobile
    }
  }

  .add-tag-badge {
    @extend .mr1;
    visibility: hidden;
    cursor: pointer;
    flex-shrink: none;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.3;
    padding: 0.25rem 0.625rem;
  }

  .suggested_tag {
    max-width: 0px;
  }
}

.transaction:hover .add-tag-badge,
.add-tag-badge[aria-expanded='true'] {
  visibility: visible;
}

.transaction:hover .suggested_tag,
.suggested_tag[aria-expanded='true'] {
  max-width: 125px;
}

[class^='transaction--']:target {
  animation: highlight 2s;
}

.transaction__icon {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;
  color: map-get($palette, muted);

  img,
  svg {
    width: 24px;
    height: 24px;
    fill: map-get($palette, muted);

    .transaction--fancy & {
      fill: $black;
    }

    .transaction--icy & {
      fill: $white;
    }

    margin: 0;
  }
}

.transaction__fee_icon {
  svg {
    height: 18px;
    width: 18px;
    margin-left: 3px;
  }
}

.transaction:has(.renamed) {
  animation: highlight 2s;
}

.transaction:has(.renaming) {
  background-image: linear-gradient(90deg, $orange 50%, transparent 50%),
    linear-gradient(90deg, $orange 50%, transparent 50%),
    linear-gradient(0deg, $orange 50%, transparent 50%),
    linear-gradient(0deg, $orange 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size:
    50px 2px,
    50px 2px,
    2px 50px,
    2px 50px;
  background-position:
    0 0,
    0 100%,
    0 100%,
    100% 20px;
  animation: border-dance 1s infinite linear;
}

// "Pending" badge
.transaction .renaming ~ .badge.bg-muted {
  display: none;
}

.transaction__icon--selected {
  display: none;
}

.transaction__icon--selected svg {
  fill: black;
}

html[data-dark='true'] {
  .transaction__icon--selected svg {
    fill: white !important;
  }
}

.selected__transaction > .transaction__icon--selected {
  display: table-cell !important;
}

.selected__transaction > .transaction__icon {
  display: none;
}

.transaction__icon {
  padding-left: 1rem;
}

.memo-frame[busy] {
  cursor: progress;
}

.memo-frame[busy] .memo-frame__ai-button {
  opacity: 0.5;
  pointer-events: none;
}

.embedded .embedded-display-none {
  display: none;
}

.pending_transactions_tags:has(> div) {
  margin-top: 2px;
}
