.table-container {
  overflow-x: auto;
}

.transaction--fancy {
  background-image: repeating-linear-gradient(
    to bottom right,
    rgb(226, 177, 66) 0px,
    rgb(251, 232, 122) 50px,
    rgb(226, 177, 66) 100px
  );
  background-attachment: fixed;
  color: $black;
}

.transaction__memo {
  max-width: 400px;

  > div {
    display: flex;
    align-items: center;
  }

  a:first-child,
  span:first-child {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 44ch;

    @media screen and (max-width: 32em) {
      max-width: 32ch; // reduce character count on mobile
    }
  }

  + td {
    text-align: right; // right-align amount
  }

  .add-tag-badge {
    display: none;
    cursor: pointer;
  }
}

[class^='transaction--']:hover .add-tag-badge,
.add-tag-badge[aria-expanded='true'] {
  display: block;
}

[class^='transaction--']:target {
  animation: highlight 2s;
}

.transaction__icon {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;

  img,
  svg {
    width: 24px;
    height: 24px;
    fill: map-get($palette, muted);
    .transaction--fancy & {
      fill: $black;
    }
    margin: 0;
  }
}

@keyframes highlight {
  from {
    background-color: map-get($palette, warning);
  }
  to {
    background-color: none;
  }
}
