.welcome {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: $snow;

  html[data-dark='true'] & {
    background-color: black;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    position: relative;
    line-height: 0;
    opacity: 0;
  }

  &__shine {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 2.1rem;
    opacity: 0.8;

    html[data-dark='true'] & {
      opacity: 0.5;
    }

    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 60%
    );
    background-repeat: no-repeat;
    background-position: -50px -50px;
  }

  &__shine_text {
    background-clip: text;
    -webkit-background-clip: text;
    color: #ec375040;

    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 60%
    );
    background-repeat: no-repeat;
    background-position: -50px -50px;

    &_head {
      opacity: 0.65;
      color: map-get($palette, snow);
      font-size: 0.7em;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & li {
      list-style-type: none !important;
      margin: 0;
      padding: 0;
    }

    & img {
      width: 75% !important;
    }

    > * {
      opacity: 0;
    }
  }
}

@media (max-width: 48em) {
  .welcome {
    justify-content: flex-start;
    padding: 8px;
    padding-top: 36px;
    overflow-y: scroll;
  }
}
