<p><%= @emails.length > 1 ? "Hi all," : "Hi there," %></p>

<p>
  You are receiving this notification email because <%= @event.name %>
  currently has a negative balance (<%= render_money(@balance) %>).
</p>

<p>
  Please reach out to your HCB representative
  <% if @event.point_of_contact %>
    (<%= mail_to(@event.point_of_contact.email, @event.point_of_contact.full_name) %>)
  <% end %>
  to address this.
</p>

<p>
  From,<br>
  The HCB Team
</p>
