<div class="card border b--warning pb0 mt3 mb3">
  <div class="flex items-center warning">
    <%= inline_icon 'sad', size: 32, class: 'mr1' %>
    <p class="bold mt0 mb0">Check sending and voiding is temporarily offline</p>
  </div>
  <p class="mt1 mb2">
    <strong>Contact us if you need to void a check.</strong>
    We’ve alerted our bank to the issue & they’re actively working on a fix, but sadly the timeline is out of our hands. Thanks for your patience.
  </p>
  <div class="border-top card__banner card__darker slate">
    <strong class="warning">Questions?</strong> <%= help_message %>
  </div>
</div>
