<div class="card border b--warning pb0 mt3 mb3">
  <div class="flex items-center warning">
    <%= inline_icon 'sad', size: 32, class: 'mr1' %>
    <p class="bold mt0 mb0">Check sending and voiding is temporarily offline</p>
  </div>
  <p class="mt1 mb2">
    <strong>Contact us if you need to void a check</strong>—your point of contact can help.
    We're working with our check provider to fix this and will update with a specific date once we know more.
  </p>
  <div class="border-top card__banner card__darker slate">
    <strong class="warning">Questions?</strong> <%= help_message %>
  </div>
</div>
