<p>
We couldn't match this email to a transaction! This either means it was sent to the wrong address, or that you (<%= @to %>) aren't part of the team for this transaction.
</p>

<p>
  From,<br>
  The Hack Club Team
</p>
