<p>Hi there,</p>

<p>
  I can't figure out which department this transaction should be associated
  with. You can help me by
  <%= link_to 'clicking here', emburse_transaction_path(@emburse_transaction) %>
  and assigning a department.
</p>

<p>
  Best,<br/>
  <%= [
    'The hivemind known as Bank',
    'A cloud full of money',
    "Hack Club's pot of gold",
    'A sentient stack of dollars',
    'The Hack Club Federal Reserve',
    'Hack Club Bank 💰',
    'A money-crazed virus called Bank 🤑',
    'A cloud raining money',
    "A pile of money in the cloud that isn't Bitcoin"
  ].sample %>
</p>
