<p>Hi there,</p>

<p>
  I can't figure out which department this transaction should be associated
  with. You can help me by
  <%= link_to 'clicking here', edit_emburse_transaction_url(@emburse_transaction) %>
  and assigning a department.
</p>

<p>If you ignore this email, you'll also later see this task on the HCB dashboard.</p>

<p>
  Best,<br/>
  <%= [
    'The hivemind known as Bank',
    'A cloud full of money',
    "Hack Club's pot of gold",
    'A sentient stack of dollars',
    'The Hack Club Federal Reserve',
    'Hack Club Bank 💰',
    'A money-crazed virus called Bank 🤑',
    'A cloud raining money',
    "A pile of money in the cloud that isn't Bitcoin",
    'Hack Club Smoothmunny',
    'Hack Club ezBUCKS',
    'Hack Club Money Bucket',
    'A mattress stuffed with 100 dollar bills',
    'Hack Club Bonk',
    'Hack Club Dollaringos',
    'HCB',
    'The Hack Foundation dba The Dolla Store'
  ].sample %>
</p>
