<p>Hi there,</p>

<p>
  <%= @emburse_transaction.card.user.name %>'s card was just used to spend <%= @emburse_transaction.amount %> at <%= @emburse_transaction.merchant_name %>.
</p>

<p>
  If this purchase wasn't authorized, please reach out to your point of contact ASAP.
</p>

<p>
  Best,<br/>
  The Hack Club Bank Team
</p>
