@import 'variables';

$dark: #17171d;
$darker: #121217;
$darkless: #252429;

html[data-dark='true'] {
  color-scheme: dark;

  body {
    background-color: $dark;
    color: map-get($palette, smoke);
  }

  input[type='date'],
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='url'],
  select,
  .input,
  textarea {
    background-color: $darkless;
    color: map-get($palette, white);
    border-color: $darkless;

    &:focus-within {
      border-color: map-get($palette, info);
    }
  }

  h1,
  h2,
  .heading,
  .details > p,
  .details > div,
  .details__row,
  .border,
  .border-top,
  .border-right,
  .border-bottom,
  .border-left,
  .details-horiz > p:not(:last-of-type),
  .details-horiz > div:not(:last-of-type),
  .details-horiz > .details-horiz__col,
  tr {
    border-color: map-get($palette, slate);
  }
  .menu__toggle[aria-expanded='true']:after {
    border-bottom-color: $darkless;
  }
  .list > a > li,
  .list > li {
    border-bottom-color: $darkless;
  }

  hr {
    border-color: map-get($palette, black);
  }

  .details {
    hr {
      border-color: map-get($palette, slate);
    }
  }

  label,
  .menu__content > a,
  .menu__action {
    color: map-get($palette, smoke);
  }
  tr a,
  .secondary,
  .details > p strong,
  .details > div strong,
  .details__row strong,
  .details-horiz strong {
    color: map-get($palette, muted);
  }
  .menu__content hr {
    border-color: $dark;
  }
  .menu__toggle[aria-expanded='true']:before {
    border-bottom-color: $darker;
  }

  .flash {
    border: 0;
  }

  .menu__content {
    input[type='date'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='url'],
    .input,
    select,
    textarea {
      background: $dark;
      border-color: $dark;
    }
  }

  .retrofees,
  .card,
  .menu__content,
  .modal {
    --card-bg: #252429;
    background-color: $darkless;
  }
  .modal--scroll.bg-snow {
    background-color: $dark;
  }

  .pinned__transaction.bg-smoke {
    background-color: $darkless;
  }

  .modal--scroll header,
  .modal--scroll:not(.modal--popover) > footer,
  .modal--scroll:not(.modal--popover) > * > footer {
    background-color: $darkless;
  }
  .mini-calendar strong {
    background-color: map-get($palette, smoke);
    color: map-get($palette, black);
  }

  .modal,
  .card,
  .menu__content {
    box-shadow:
      -2px -4px 8px rgba(0, 0, 0, 0.125),
      4px 8px 16px rgba(0, 0, 0, 0.25);
  }

  .card {
    h1,
    h2,
    .heading,
    .details > p,
    .details > div,
    .details__row {
      border-color: map-get($palette, black);
    }

    input[type='date'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='url'],
    .input,
    select,
    textarea {
      background: $dark;
      border-color: $dark;
      &:focus-within {
        border-color: map-get($palette, info);
      }
    }

    pre {
      background-color: $dark;
    }
    &.b--warning {
      border-color: rgba(map-get($palette, warning), 0.375);
    }

    &.b--info {
      border-color: rgba(map-get($palette, info), 0.375);
    }

    &.b--success {
      border-color: rgba(map-get($palette, success), 0.375);
    }

    &.b--primary {
      border-color: rgba(map-get($palette, primary), 0.375);
    }
  }

  .black,
  .btn,
  .dock__item span,
  label,
  a > .card {
    color: map-get($palette, smoke);
  }

  .dock__item.disabled span {
    color: map-get($palette, muted);
  }

  pre,
  .transparency-banner {
    background-color: $darker;
    color: map-get($palette, muted);
  }

  .card__darker {
    background: $dark;
    color: map-get($palette, muted) !important;
  }

  .card.card--sunken {
    box-shadow: none;
    background-color: rgba(map-get($palette, dark), 0.75);
  }

  .admin-tools {
    background-color: rgba(map-get($palette, warning), 0.0625);
  }

  .dev-tools {
    background-color: rgba(map-get($palette, success), 0.0625);
  }

  .comments .card.current-user {
    background-color: mix($darkless, map-get($palette, info), 90%);
  }

  .comments .card.comment--admin {
    border: 1px dashed map-get($palette, warning);
    background-color: mix($darkless, map-get($palette, warning), 90%);
  }

  .card__banner.bg-success,
  .transaction--positive {
    background-color: rgba(map-get($palette, success), 0.25);
  }

  .card__banner.bg-error,
  .transaction--negative {
    background-color: rgba(map-get($palette, error), 0.25);
  }

  .shade-neutral,
  .transaction--zero {
    background-color: $darkless;
  }

  .shade-yellow {
    background-color: rgba(map-get($palette, pending), 0.125);
  }

  .card--sunset {
    background-image: url('https://cloud-hlea0o5k2-hack-club-bot.vercel.app/0sunset_card__4_.png');
  }

  input[type='submit'],
  .btn {
    background-color: rgba(map-get($palette, info), 0.75);
  }
  .btn.bg-primary {
    background-color: rgba(map-get($palette, primary), 0.75);
  }
  .btn.bg-accent {
    background-color: rgba(map-get($palette, accent), 0.75);
  }
  .btn.bg-success {
    background-color: rgba(map-get($palette, success), 0.75);
  }
  .btn.bg-warning {
    background-color: rgba(map-get($palette, warning), 0.75);
  }
  .btn.bg-error {
    background-color: rgba(map-get($palette, error), 0.75);
  }

  .badge {
    color: map-get($palette, muted);
  }
  .badge.bg-info {
    color: map-get($palette, info);
  }
  .badge.bg-accent {
    color: map-get($palette, accent);
  }
  .badge.bg-success {
    color: map-get($palette, success);
  }
  .badge.bg-warning {
    color: map-get($palette, warning);
  }
  .badge.bg-purple {
    background-color: rgba(map-get($palette, purple), 0.125);
    color: map-get($palette, purple);
  }
  .badge.bg-error {
    color: map-get($palette, error);
  }
  .badge.archived {
    background-color: rgba(map-get($palette, pending), 0.625);
    border: none;
    color: map-get($palette, pending);
  }
  .list-badge {
    background-color: rgba(0, 0, 0, 0.125);
  }

  .list-badge.quick-action {
    border: 1px solid darken(map-get($palette, muted), 20%);
  }

  .filterbar__item:active,
  .filterbar__item[aria-selected='true'] {
    background-color: rgba(map-get($palette, info), 0.125);
  }
  .badge.bg-info,
  .flash.info,
  .pop,
  .pop.info {
    background-color: rgba(map-get($palette, info), 0.125);
  }

  .badge.bg-snow {
    background-color: rgba(map-get($palette, white), 1);
    color: black;
  }

  .flash.accent,
  .badge.bg-accent,
  .pop.accent {
    background-color: rgba(map-get($palette, accent), 0.125);
  }

  .flash.success,
  .badge.bg-success,
  .pop.success {
    background-color: rgba(map-get($palette, success), 0.125);
  }

  .flash.warning,
  .badge.bg-warning,
  .pop.warning {
    background-color: rgba(map-get($palette, warning), 0.125);
  }

  .flash.muted,
  .badge,
  .badge.bg-muted,
  .pop.muted {
    background-color: rgba(map-get($palette, muted), 0.125);
  }
  .flash.error,
  .btn--destroy,
  .error-card,
  .badge.bg-error,
  .pop.error {
    background-color: rgba(map-get($palette, error), 0.125);
  }

  .banner--archived {
    background-color: rgba(map-get($palette, pending), 0.125);
    border-color: rgba(map-get($palette, pending), 0.625);
    color: map-get($palette, smoke);
  }

  pre.bg-smoke {
    background: $darkless;
    color: map-get($palette, white);
  }

  .bg-smoke-important {
    background: $darkless !important;
    color: map-get($palette, white);
  }

  .logo {
    display: none;
  }

  .logo-dark {
    display: block;
  }

  /* Styles the auto-generated phone no. country code drop down on user edit page */
  .iti__country {
    background-color: $darkless;

    &:hover {
      background-color: $slate;
    }
  }

  .iti__divider {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .loader {
    background-color: $dark;
  }

  .dino-svg {
    filter: invert(88%) sepia(100%) saturate(2%) hue-rotate(187deg)
      brightness(110%) contrast(97%);
  }

  .file-dropzone {
    background-color: rgba($darkless, 0.8);
  }

  .stripe-card__status {
    color: #fff;
  }

  .menu__content input[type='text'] {
    font-size: inherit !important;
    padding: 0.25rem 0.5rem !important;
    min-height: 0;
    font-weight: 500;
    color: map-get($palette, snow);

    &::placeholder {
      font-weight: 500;
    }

    &:not(:focus)::placeholder {
      opacity: 1;
      color: map-get($palette, snow);
    }

    &:focus {
      background: $darker;
    }

    &:not(:focus) {
      cursor: pointer;
      border-color: transparent;
    }

    &:hover:not(:focus) {
      @include gradient(info);
    }
  }

  .mention-suggestions {
    border: 1px solid map-get($palette, slate);
  }

  .transaction--positive > td > span > span > span.success-dark.medium {
    font-weight: 400;
  }

  .recharts-rectangle.recharts-tooltip-cursor {
    opacity: 0.2;
  }

  #card-pin {
    color: #1f2d3d !important;
    filter: invert(1);
  }

  .modal__close {
    background-color: rgb(23 23 29) !important;
  }
}
