.ttu {
  text-transform: uppercase;
}

.primary {
  color: #e42d42;
}
.bg-primary {
  background-color: #e42d42;
}
.b--primary {
  border-color: #e42d42;
}
.accent {
  color: #7280ed;
}
.bg-accent {
  background-color: #7280ed;
}
.b--accent {
  border-color: #7280ed;
}
.success {
  color: #2de473;
}
.bg-success {
  background-color: #2de473;
}
.b--success {
  border-color: #2de473;
}
.info {
  color: #2d9ee4;
}
.bg-info {
  background-color: #2d9ee4;
}
.b--info {
  border-color: #2d9ee4;
}
.warning {
  color: #e4732d;
}
.bg-warning {
  background-color: #e4732d;
}
.b--warning {
  border-color: #e4732d;
}
.error {
  color: #b52434;
}
.bg-error {
  background-color: #b52434;
}
.b--error {
  border-color: #b52434;
}
.black {
  color: #384046;
}
.bg-black {
  background-color: #384046;
}
.b--black {
  border-color: #384046;
}
.slate {
  color: #606e77;
}
.bg-slate {
  background-color: #606e77;
}
.b--slate {
  border-color: #606e77;
}
.muted {
  color: #7a8c97;
}
.bg-muted {
  background-color: #7a8c97;
}
.b--muted {
  border-color: #7a8c97;
}
.smoke {
  color: #dde1e4;
}
.bg-smoke {
  background-color: #dde1e4;
}
.b--smoke {
  border-color: #dde1e4;
}
.snow {
  color: #f9f9fa;
}
.bg-snow {
  background-color: #f9f9fa;
}
.b--white {
  border-color: #f9f9fa;
}
.white {
  color: #ffffff;
}
.bg-white {
  background-color: #ffffff;
}
.b--white {
  border-color: #ffffff;
}
