@import 'variables';

.ttu {
  text-transform: uppercase;
}
.ultrawhite {
  background: white;
}

$__shades: (
  red: $red0,
  orange: $orange0,
  yellow: $yellow0,
  green: $teal0,
  blue: $blue0,
  neutral: $gray0
);

@each $name, $val in $__shades {
  .shade-#{$name} {
    background-color: $val;
  }
}

$__palette: (
  primary: $red5,
  accent: $indigo4,
  info: $blue5,
  success: $teal5,
  error: $red7,
  warning: $orange5,
  black: $gray9,
  slate: $gray8,
  muted: $gray7,
  smoke: $gray2,
  snow: $gray0,
  white: $white
);

@each $name, $val in $__palette {
  .#{$name} {
    color: $val;
  }

  .bg-#{$name} {
    background-color: $val;
  }

  .b--#{$name} {
    border-color: $val;
  }
}
