@import 'variables';

.pointer {
  cursor: pointer;
}

.line-height-0 {
  line-height: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.inline-flex {
  display: inline-flex;
}

.shrink-none {
  flex-shrink: 0;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.medium {
  font-weight: 500;
}

.border,
.border-top,
.border-right,
.border-bottom,
.border-left {
  border-color: map-get($palette, smoke);
}

.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (min-width: 32em) {
  .md-px0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .md-py0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .md-mx0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .md-my0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .md-ml-auto {
    margin-left: auto;
  }

  .md-mr-auto {
    margin-right: auto;
  }
}

$shades: (
  red: rgba($red, 0.125),
  yellow: rgba($yellow, 0.125),
  green: rgba($green, 0.125),
  neutral: rgba($muted, 0.125)
);

@each $name, $value in $shades {
  .shade-#{'' + $name} {
    background-color: $value;
  }
}

.transaction--positive {
  @extend .shade-green;
}
.transaction--negative {
  @extend .shade-red;
}

@each $name, $value in $palette {
  .#{'' + $name} {
    color: $value;
  }
  a.#{'' + $name}:hover,
  a.#{'' + $name}:focus {
    color: darken($value, 10%);
  }

  .bg-#{'' + $name} {
    background-color: $value;
  }
}

.secondary {
  color: map-get($palette, slate);
}

.b--warning {
  border-color: map-get($palette, warning);
}

.b--info {
  border-color: map-get($palette, info);
}

.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.w-auto {
  width: auto;
}

@media screen and (min-width: 32em) {
  .md-w-50 {
    width: 50%;
  }

  .md-center {
    text-align: center;
  }

  .md-ml-auto {
    margin-left: auto;
  }

  .md-mr-auto {
    margin-right: auto;
  }
}
