$black: #1f2d3d;
$slate: #3c4858;
$muted: #8492a6;
$smoke: #e0e6ed;
$snow: #f9fafc;
$white: #fff;

$red: #ec3750;
$orange: #ff8c37;
$yellow: #f1c40f;
$green: #33d6a6;
$green-dark: #1f8164;
$cyan: #5bc0de;
$blue: #338eda;
$purple: #a633d6;

$dark: #17171d;
$darker: #121217;
$darkless: #252429;

$palette: (
  primary: $red,
  accent: $cyan,
  info: $blue,
  success: $green,
  //  'success-dark': $green-dark,
  error: desaturate(darken($red, 25%), 15%),
  ai: $purple,
  warning: $orange,
  pending: $yellow,
  purple: $purple,
  black: $black,
  darker: $darker,
  slate: $slate,
  muted: $muted,
  smoke: $smoke,
  snow: $snow,
  white: $white,
  dark: $dark,
);

@mixin gradient($color) {
  background-color: map-get($palette, $color);
  background-image: radial-gradient(
    ellipse farthest-corner at top left,
    lighten(saturate(map-get($palette, $color), 15%), 15%),
    saturate(map-get($palette, $color), 15%)
  );
}
