@import 'variables';

$font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Fira Sans', Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
$brand-font-family: ui-rounded, $font-family;
$mono: 'SFMono-Regular', 'Roboto Mono', Menlo, Consolas, monospace;

* {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  min-height: 100%;
  min-width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: $font-family;
  line-height: 1.5;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  color: $black;
  margin: 0;
  padding-bottom: 2rem;
}

h1,
h2,
h3,
.heading,
.stat__value,
.brand-sans {
  font-family: $brand-font-family;
}
.sans {
  font-family: $font-family;
}
pre,
code,
.mono {
  font-family: $mono;
}

a {
  color: currentColor;
}

strong {
  font-weight: bold;
}

textarea {
  min-height: 4rem;
  line-height: 1.5;
  resize: vertical;
}

pre {
  background-color: map-get($palette, snow);
  border-radius: 4px;
  padding: 12px;
  font-size: 12px;
  white-space: pre-wrap;
  word-break: break-word;
}

a {
  color: map-get($palette, muted);
  transition: color 0.125s ease-in-out;

  &:hover,
  &:focus {
    color: map-get($palette, slate);
  }
}

h1,
h2,
h3,
h4,
fieldset legend {
  font-weight: 800;
  line-height: 1.125;
  letter-spacing: -0.02em;
}
h1 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid map-get($palette, smoke);
  border-bottom-width: 0.5px;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.75rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid map-get($palette, smoke);
  border-bottom-width: 0.5px;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

p + p {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  border-bottom-width: 0.5px;
  a {
    color: map-get($palette, slate);
  }
}
thead {
  table-layout: fixed;
}
th,
td {
  padding: 0.5rem;
  white-space: nowrap;
  -webkit-text-size-adjust: 100%;

  &:first-child {
    padding-left: 1rem;
  }
}
th {
  font-weight: bold;
  text-align: left;
  padding-bottom: 0.125rem;
}

hr {
  margin: 2rem 0;
  border: 0;
  border-bottom: 1px solid map-get($palette, smoke);
}

svg {
  fill: currentColor;
  flex-shrink: 0;
}

.cursor-pointer {
  cursor: pointer;
}

action {
  cursor: pointer;

  &:focus {
    outline: 1;
  }
}

@import 'components/avatars';
@import 'components/badges';
@import 'components/buttons';
@import 'components/cards';
@import 'components/checks';
@import 'components/comments';
@import 'components/details';
@import 'components/dock';
@import 'components/filters';
@import 'components/forms';
@import 'components/header';
@import 'components/headings';
@import 'components/incoming_deposits';
@import 'components/layouts';
@import 'components/lists';
@import 'components/menus';
@import 'components/modals';
@import 'components/physical_cards';
@import 'components/public_message';
@import 'components/stats';
@import 'components/steps';
@import 'components/tooltips';
@import 'components/transactions';
@import 'components/withdraw_breakdown';

.turbolinks-progress-bar {
  height: 0.125rem;
  background-color: map-get($palette, primary);
}

.admin-tools {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px dashed map-get($palette, warning);
  background: rgba(map-get($palette, pending), 0.125);
}

.details .admin-tools {
  padding: 0.25rem 1rem;
  margin: 0 -1rem;
  border-radius: 0;
  border: none;
}

// Make mobile views nice. Full-bleed separator lines
@media screen and (max-width: 32em) {
  table:not(.table-container > table),
  .table-container,
  .list,
  .heading,
  .details,
  h1,
  h2,
  h3 {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;
  }
  td,
  th {
    &:first-child {
      padding-left: 1rem;
    }
    &:last-child {
      padding-right: 1rem;
    }
  }
  .list > a > li,
  .list > li,
  .heading,
  .details > p,
  .details > div,
  h1,
  h2,
  h3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media not print {
  .hide-non-print {
    display: none !important;
  }
}

@media print {
  .home,
  .dock,
  .heading .btn,
  .pop,
  .filterbar,
  .pagination,
  input[type='search'],
  .hide-print {
    display: none !important;
  }

  body {
    background-color: $white !important;
  }

  main {
    max-width: 100% !important;
    width: 100% !important;
  }

  * {
    background: transparent;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #000 !important;
    max-width: 100%;
    word-wrap: break-word;
  }
}

@import 'basscss';
@import 'space';
@import 'utilities';
@import 'dark';
