@import 'variables';
@import 'guidelines';

$font-family:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Fira Sans',
  Oxygen,
  Ubuntu,
  'Helvetica Neue',
  sans-serif;
$mono:
  ui-monospace, 'SFMono-Regular', 'Roboto Mono', Menlo, Consolas, monospace;

:root {
  @each $name, $value in $palette {
    --#{"" + $name}: #{$value};
  }
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: $font-family;
  line-height: 1.5;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  color: $black;
  margin: 0;
  padding-bottom: 2rem;
  min-height: 100vh;
}

.activity {
  display: none;
}

@media screen and (min-width: 56em) and (min-height: 640px) {
  body:has(.activity) {
    padding-bottom: 0rem;
  }

  .activity {
    display: block;
  }

  .container:has(.activity) > .app__sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  .container:has(.activity) > .app__content {
    padding-bottom: 2rem;
  }
}

a {
  color: currentColor;
}

strong {
  font-weight: 600;
}

textarea {
  min-height: 4rem;
  line-height: 1.5;
  resize: vertical;
}

pre {
  background-color: map-get($palette, snow);
  border-radius: 4px;
  padding: 12px;
  font-size: 12px;
  white-space: pre-wrap;
  word-break: break-word;
}

a {
  color: map-get($palette, muted);
  transition: color 0.125s ease-in-out;

  &:hover,
  &:focus {
    color: map-get($palette, slate);
  }
}

h1,
h2,
h3,
h4,
fieldset legend.h2 {
  font-weight: 600;
  line-height: 1.125;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid map-get($palette, smoke);
  border-bottom-width: 0.5px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  letter-spacing: 0;
  font-size: 1.25rem;
}

p + p {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  border-bottom-width: 0.5px;

  a {
    color: map-get($palette, slate);
  }
}

thead {
  table-layout: fixed;
}

th,
td {
  padding: 0.5rem;
  white-space: nowrap;
  -webkit-text-size-adjust: 100%;
  font-variant-numeric: tabular-nums;

  &:first-child {
    padding-left: 1rem;
  }
}

th {
  font-weight: 600;
  text-align: left;
  padding-bottom: 0.125rem;
}

hr {
  margin: 2rem 0;
  border: 0;
  border-bottom: 1px solid map-get($palette, smoke);
}

svg {
  fill: currentColor;
  flex-shrink: 0;
}

.cursor-pointer {
  cursor: pointer;
}

action {
  cursor: pointer;

  &:focus {
    outline: 1;
  }
}

summary {
  cursor: pointer;
}

@import 'components/avatars';
@import 'components/badges';
@import 'components/banners'; //TODO: Rename
@import 'components/buttons';
@import 'components/cards';
@import 'components/checks';
@import 'components/comments';
@import 'components/conversation';
@import 'components/details';
@import 'components/diffs';
@import 'components/dock';
@import 'components/donations';
@import 'components/filters';
@import 'components/forms';
@import 'components/header';
@import 'components/headings';
@import 'components/layouts';
@import 'components/lists';
@import 'components/menus';
@import 'components/modals';
@import 'components/physical_cards';
@import 'components/public_message';
@import 'components/stats';
@import 'components/pinned_transactions';
@import 'components/steps';
@import 'components/tooltips';
@import 'components/transactions';
@import 'components/promos';
@import 'components/features';
@import 'components/loading';
@import 'components/file_dropzone';
@import 'components/support_button';
@import 'components/welcome';
@import 'components/tabs';
@import 'components/team';
@import 'components/tour';
@import 'components/receipts';
@import 'components/shimmer';
@import 'components/carousel';
@import 'components/callout';
@import 'components/balance_chart';
@import 'components/reimbursements/expenses';
@import 'components/reimbursements/actions';
@import 'components/event_settings';
@import 'components/reactions';
@import 'components/tags';
@import 'components/filter_tabs';
@import 'components/filter_menu';
@import 'components/home_page';
@import 'components/send_invoice_modal';

.turbo-progress-bar {
  height: 0.125rem;
  background-color: map-get($palette, primary);
}

html[data-ai-loading='true'] > .turbo-progress-bar {
  background-color: map-get($palette, ai);
}

#HW_badge_cont {
  position: absolute;
  top: -10px;
  right: -10px;

  width: auto;
  height: auto;
}

#HW_badge {
  position: static;
}

#HW_frame_cont {
  transform: translateY(35px) translateX(0.75rem);
}

.admin-tools {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px dashed map-get($palette, warning);
  background: rgba(map-get($palette, pending), 0.125);
  overflow: auto;
}

.details .admin-tools {
  padding: 0.25rem 1rem;
  margin: 0 -1rem;
  border-radius: 0;
  border: 0;
}

.details-horiz .admin-tools {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
  border-radius: 0;
  border: 0;
}

.dev-tools {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px dashed map-get($palette, success);
  background-color: rgba(map-get($palette, success), 0.125);
  overflow: auto;
}

@keyframes flying-spook {
  from {
    left: 0;
    top: 100%;
  }

  to {
    left: 100%;
    top: 10rem;
  }
}

.flying-spook {
  position: fixed;
  left: 0;
  top: 100%;
  width: 3rem;
  z-index: 10;

  animation: ease-in flying-spook 30s 10s;
}

.flying-spook.ghost {
  animation-delay: 50s;
}

.card:target {
  animation: highlight 2s;
  border: 1px solid;
  border-color: rgba(map-get($palette, warning), 0.25);

  .card__banner {
    border-color: inherit;
  }
}

@keyframes highlight {
  from {
    border: 1px solid map-get($palette, warning);
    background-color: map-get($palette, warning);
  }
  to {
    border: 1px solid rgba(map-get($palette, warning), 0.25);
    background-color: none;
  }
}

// sourced from yours truly, W3Schools: https://www.w3schools.com/howto/howto_css_shake_image.asp

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

// Make mobile views nice. Full-bleed separator lines
@media screen and (max-width: 32em) {
  table:not(.table-container > table),
  .table-container,
  .list,
  .heading,
  .details,
  h1,
  h2,
  h3 {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;
  }

  td,
  th {
    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }

  .list > a > li,
  .list > li,
  .heading,
  .details > p,
  .details > div,
  h1,
  h2,
  h3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media not print {
  .hide-non-print {
    display: none !important;
  }
}

@media print {
  .home,
  .dock,
  .heading .btn,
  .pop,
  .filterbar,
  .pagination,
  input[type='search'],
  .hide-print {
    display: none !important;
  }

  body {
    background-color: $white !important;
  }

  main {
    max-width: 100% !important;
    width: 100% !important;
  }

  * {
    background: transparent;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #000 !important;
    max-width: 100%;
    word-wrap: break-word;
  }
}

[x-cloak],
[hidden] {
  display: none !important;
}

@import 'basscss';
@import 'space';
@import 'kbar';
@import 'utilities';
@import 'dark';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  pre,
  code {
    @apply font-mono;
  }
}

@layer utilities {
  .caps {
    @apply uppercase tracking-widest;
  }

  .line-height-0 {
    @apply leading-[0];
  }

  .text-shadow {
    text-shadow:
      0 1px 2px rgba(0, 0, 0, 0.25),
      0 2px 4px rgba(0, 0, 0, 0.125);
  }
}

.suggested_tag {
  font-style: italic;
}

.suggested_tag > a {
  overflow: hidden;
  max-width: 125px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.suggested_tag::after {
  transform: translateY(0px) translateX(-4px);
}

.rotated {
  transform: rotate(180deg);
}

// Phone number input container
.iti {
  width: 100%;
}
