.overview,
.our-name,
.fiscal-sponsorship,
.our-logos,
.general-usage-rules {
  margin-bottom: 2rem;
}

pre {
  padding: 15px;
  background-color: #606060;
  border-radius: 15px;
  overflow: auto;
}

pre code {
  border: 0;
  padding: 0;
  color: #707070;
  word-break: normal;
}

li#bglist {
  padding-bottom: 5px;
}
