<% cancel_tooltip = if policy(stripe_card).cancel?
                      "This is irreversible; freeze your card to temporarily prevent spending on it."
                    else
                      "You don't have permission to cancel this card"
                    end %>

<div class="tooltipped tooltipped--n" aria-label="<%= cancel_tooltip %>">
  <%= link_to cancel_stripe_card_path(stripe_card),
              method: :post,
              class: "btn bg-error",
              disabled: !policy(stripe_card).cancel?,
              data: { confirm: "Are you sure you want to do this? Unlike freezing a card, this can't be reversed." } do %>
    <%= inline_icon "forbidden" %> Cancel card
  <% end %>
</div>
