<% unless stripe_card.canceled? || !policy(stripe_card).cancel? %>
  <div class="tooltipped tooltipped--n" aria-label="Permanently cancel this card.">
    <%= link_to cancel_stripe_card_path(stripe_card),
                method: :post,
                class: "btn bg-error",
                data: { confirm: "Are you sure you want to do this? Unlike freezing a card, this can't be reversed." } do %>
      <%= inline_icon "flame" %>Burn card
    <% end %>
  </div>
<% end %>
