<%# locals: (stripe_card:) %>

<% if stripe_card.stripe_status == 'inactive' %>
  <%= link_to "Defrost card",
              stripe_card_defrost_path(stripe_card),
              method: :post,
              class: "btn bg-accent" %>

<% elsif stripe_card.stripe_status == 'active' %>
  <span class="tooltipped tooltipped--n"
        aria-label="You can instantly defrost
                    <%= stripe_card.user == current_user ? "your" : stripe_card.user.possessive_name %>
                    card anytime">

    <%= link_to stripe_card_freeze_path(stripe_card),
                method: :post,
                class: "btn bg-accent" do %>
      <%= inline_icon "freeze" %> Freeze card
    <% end %>

  </span>
<% end %>
