<%# locals: (stripe_card:) %>

<% if stripe_card.stripe_status == "active" %>
  <%= link_to stripe_card_edit_path(stripe_card), class: "btn bg-success ml1", data: { behavior: "modal_trigger", modal: "name_card" } do %>
    <%= inline_icon "edit" %>
    Name
  <% end %>

  <%# Modal for naming card %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="name_card">
    <%= modal_header "Name your card" %>
    <%= render "stripe_cards/name_form", stripe_card: StripeCard.new %>
  </section>
<% end %>
