<p>Hi <%= @donation.name %>,</p>

<p>
  Thank you for your generous donation of <%= render_money @donation.amount %> to <%= @donation.event.name %>. Please consider this email a receipt for your gift.
</p>

<p><%= @donation.event.name %> is fiscally sponsored by Hack Club, a 501(c)(3) nonprofit. Our EIN is 81-2908499. Per IRS guidelines, you agree that no goods or services will be provided in return for this gift.</p>

<p>If you have any questions or concerns, please reply directly to this email and our financial operations team will assist.</p>

<p>
  Best regards,<br/>
  The Hack Club Bank Team
</p>
