<tr class="transaction">
  <td class="transaction__icon tooltipped tooltipped--e" aria-label="GitHub Grant">
    <%= inline_icon "github" %>
  </td>
  <td>
    <%= format_date transaction.date %>
  </td>
  <td class="bold">
    🚀 GitHub Grant
  </td>
  <td>
    <%= render_transaction_amount transaction.amount %>
  </td>
  <td>
    <%= link_to "Details", transaction if organizer_signed_in? %>
  </td>
</tr>
