<div class="card border b--info pb0 mt3 mb3">
  <div class="flex items-center success">
    <%= inline_icon 'rep', size: 32, class: 'mr1' %>
    <p class="bold mt0 mb0">We are in the process of rolling out a new underlying infrastructure in Hack Club Bank for handling transactions.</p>
  </div>
  <p class="mt1 mb2">
  This will make transactions appear faster, more accurately, and better handle downtime from our partners. We are still working on the UX of the new transaction infrastructure and you will see small changes week-to-week as everything is rolled out. If you would like to be moved back to the old transaction infrastructure and the old UI while we're still ironing out kinks, please <strong>email us at <%= link_to "bank@hackclub.com", "mailto:bank@hackclub.com" %></strong> and we can make that change for you.
  </p>
</div>
