<% title "Rename transaction for #{render_money @transaction.amount}" %>
<% page_sm %>
<% page_snow %>

<%= render 'events/nav' %>

<h1>
  Editing <%= link_to @fee && @fee.fee_amount.nil? ? 'fee payment' : 'transaction', @transaction %>
</h1>

<%= render 'form', transaction: @transaction %>
