<h1>Transaction ID #<%= @transaction.id %></h1>
<%= link_to 'Edit', edit_transaction_path(@transaction) %>
<%= link_to 'See All Transactions', @transaction.bank_account %>
<pre>
<%= JSON.pretty_generate(JSON.parse(@transaction.to_json)) %>
</pre>
