<p>Hi there,</p>

<p>
  Your requested credit card for <%= @event %> is in the mail. The last four digits of the card are <%= @last_four %>. The billing address is:
</p>

<p>
  The Hack Foundation<br />
  8605 Santa Monica Blvd #86294<br />
  West Hollywood, CA 90069
</p>

<p>
  Expect it to arrive within 5-10 business days. Once your card arrives, you'll be asked to activate it.
</p>

<p>
  Please don't hesitate to reach out if you have any questions.
</p>

<p>
  Best,<br />
  The Hack Club Team
</p>
