<p>Hi there,</p>

<p>
  Your requested credit card for <%= @event %> is in the mail. The last four digits of the card are <%= @last_four %>. Expect it to arrive within 5-10 business days.
</p>

<p>
  Please don't hesitate to reach out if you have any questions. Once your card arrives, you'll be asked to activate it.
</p>

<p>
  Best,<br/>
  The Hack Club Team
</p>
