<p>Hi there 👋,</p>

<p>Your requested virtual credit card for <%= @event %> is in the mail. The last four digits of the card are <%= @last_four %>.</p>

<p>When you receive the card, remember to always use the right billing address. Otherwise, the card might decline:</p>

<p><strong>
  The Hack Foundation<br />
  8605 Santa Monica Blvd #86294<br />
  West Hollywood, CA 90069
</strong></p>

<p>Because this is a virtual card, you can start using it immediately! Visit your Hack Club Bank dashboard to get the card's payment information.</p>

<p>
  Best,<br />
  The Hack Club Team
</p>
