<% title "Settings" %>
<% page_md %>
<%= render "users/nav", selected: :settings %>

<h1>Receipt email address</h1>

<p>Using this email address, you can email receipts to your Receipt Bin. It's great for when you have email receipts to forward or if you're at an in-person point-of-sale terminal.</p>

<%= turbo_frame_tag "mailbox_address" do %>
  <%= render @mailbox_address %>
<% end %>
