<p class="center mt4 muted">
  <%= link_to current_user ? 'Bank FAQs' : 'Hack Club Bank FAQs', faq_path, class: 'muted' %>
  <span class="inline-block pl1 pr1">&middot;</span>
  <%= link_to 'Brand Guidelines', branding_path, class: 'muted' %>
</p>

<% unless commit_hash.blank? %>
  <p class="center muted h6">
    Build <em><%= commit_hash %></em> from <%= commit_duration %> ago.
  </p>
<% end %>
