<% has_window = local_assigns.key?(:datetime) && local_assigns.key?(:duration) %>
<% not_demo_mode = !@event&.demo_mode? %>

<% if signed_in? && has_window && not_demo_mode %>
  <% if (datetime + duration) > Time.now %><%# if it hasn't already passed %>

    <div class="w-100 px3 bg-white transparency-banner" data-behavior="hide_iframe">
      <p class="h5 medium center mt1 mb1" style="text-wrap: balance;">
        HCB will be under maintenance
        <strong>
          <%= local_time(datetime, format: "%B %e") %>
          from
          <%= local_time(datetime, format: "%l:%M %P") %>
          to
          <%= local_time(datetime + duration, format: "%l:%M %P") %>.
        </strong>
        <br>
        You will not be able to access your account and
        <i>card transactions will decline</i> during this time.

        <% if local_assigns.has_key? :learn_more_url %>
          <%= link_to "Learn more", learn_more_url, target: "_blank" %>
        <% end %>
      </p>
    </div>

  <% end %>
<% end %>
