<%# locals: (datetime:, duration:, learn_more_url: nil, notice_duration: 1.day) %>
<% datetime = datetime.to_datetime %>
<% not_demo_mode = !@event&.demo_mode? %>

<% if signed_in? && not_demo_mode %>
  <% if Time.now.between?(datetime - notice_duration, datetime + duration) %><%# if it hasn't already passed %>

    <div class="w-100 px3 bg-white transparency-banner" data-behavior="hide_iframe">
      <p class="h5 medium center mt1 mb1" style="text-wrap: balance;">
        HCB will be under maintenance
        <strong>
          <%= local_time(datetime, format: "%B %e") %>
          from
          <%= local_time(datetime, format: "%l:%M %P") %>
          to
          <%= local_time(datetime + duration, format: "%l:%M %P") %>.
        </strong>
        <br>
        You will not be able to access your account during this time.

        <% if learn_more_url.present? %>
          <%= link_to "Learn more", learn_more_url, target: "_blank" %>
        <% end %>
      </p>
    </div>

  <% end %>
<% end %>
