<div class="welcome" data-controller="welcome">
  <div class="welcome__image mb3 relative">
    <div class="absolute scale-50" style="bottom: -48px; left: -36px; scale: 0.9;">
      <%= image_tag "https://hackclub.com/bin/images/idea.png", width: 100, class: "logo-dark" %>
      <%= image_tag "https://hackclub.com/bin/images/idea.png", width: 100, class: "logo" %>
    </div>
    <%= image_tag "https://hackclub.com/bin/icons/icon.svg", class: "logo-dark", style: "filter: invert(1)" %>
    <%= image_tag "https://hackclub.com/bin/icons/icon.svg", class: "logo" %>
  </div>

  <div class="welcome__content">
    <div class="center" style="max-width: 700px;">
      <h3 class="h3 caps secondary block m0" style="line-height: 1.5">
        Congrats on finishing this season, <br>
        looking for something to do in the offseason?
      </h3>
      <h3 class="h3 secondary block m0 medium mt1 mb1" style="line-height: 1.5">
        Hack Club has launched <span style="color:#ec3750">The Bin</span>: a free beginner hardware kit program ideal for FIRST teams.
        Use it to get your members learning electronics early for next year.
      </h3>
    </div>

    <a class="mb2" href="https://hackclub.com/bin/?utm_source=hcb&utm_campaign=siysws" target="_blank">
      <button class="btn caps bold mt1" style="letter-spacing: 0.05em; background-image: linear-gradient(to bottom right, #63CE61, #ADEA00);">
        <h3 class="border-none m0" style="font-weight: 800">
          Rummage through The Bin
        </h3>
      </button>
    </a>
    <a href="#" data-action="welcome#dismiss">No thanks, bring me to HCB</a>
  </div>
</div>
