<%= form_with model: nil, url: receipt_hcb_code_path(@hcb_code), class: "card flex flex-column justify-center mt2 mb3" do |form| %>
  <h3 class="h2 mt0 mb1">Add a receipt</h3>

  <%= form.hidden_field :redirect_url, value: url_for(only_path: false) %>

  <%= form.file_field :file, class: "mb2" %>

  <footer class="flex flex-wrap justify-between align-center">
    <%= form.submit "Upload" %>
  </footer>
<% end %>
