<p>Hi there ðŸ‘‹</p>

<p>
  <strong>ACTION:</strong> Please verify <strong><%= @g_suite.domain %></strong> TXT and MX configuration.
</p>

<p>
  <%= link_to "View #{@g_suite.domain} on the dashboard.", google_workspace_process_admin_url(@g_suite), target: :_blank %>
</p>

<p>
  Best,<br>
  <%= [
        'The hivemind known as Bank ðŸ¦',
        'A cloud full of money â˜ï¸',
        "Hack Club's pot of gold ðŸŒˆ",
        'A sentient stack of dollars ðŸ’µ',
        'The Hack Club Federal Reserve ðŸ›ï¸',
        'Hack Club Bank ðŸ’°',
        'A cloud raining money â›ˆï¸',
        'Wack Club Jank',
        'Wack Club Bank'
      ].sample %>
</p>
