<p>
  ACTION: Please configure <%= @g_suite.domain %> TXT verification record so that the event can continue configuring their GSuite.
</p>

<p>
  <a href="<%= raw @g_suite.verification_url %>" target="_blank"><%= raw @g_suite.verification_url %></a>
</p>
