<p>
  ACTION: Please verify <%= @g_suite.domain %> TXT and MX configuration on Google GSuite.
</p>

<p>
  <a href="<%= @g_suite.verification_url %>" target="_blank"><%= @g_suite.verification_url %></a>
</p>
